# 数据探索

In [1]:
import zipfile

# 默认模式r,读
train_zip = zipfile.ZipFile('../data/Antai_AE_round1_train_20190626.zip')
item_zip = zipfile.ZipFile('../data/Antai_AE_round1_item_attr_20190626.zip')

In [2]:
print(train_zip.namelist())
print(item_zip.namelist())

['Antai_AE_round1_train_20190626.csv']
['Antai_AE_round1_item_attr_20190626.csv']

In [3]:
train = train_zip.open('Antai_AE_round1_train_20190626.csv')
item = item_zip.open('Antai_AE_round1_item_attr_20190626.csv')

In [4]:
import pandas as pd

train_df = pd.read_csv(train)
train_df.head()

  buyer_country_id  buyer_admin_id  item_id    create_order_time  irank
0               xx         8362078        1  2018-08-10 23:49:44     12
1               xx         9694304        2  2018-08-03 23:55:07      9
2               yy          101887        3  2018-08-27 08:31:26      3
3               xx         8131786        3  2018-08-31 06:00:19      9
4               xx         9778613        5  2018-08-21 06:01:56     14

In [5]:
item_df = pd.read_csv(item)
item_df.head()

   item_id  cate_id  store_id  item_price
0   240607     1495     12239           1
1   285232     1498     12239           1
2   113669     1503     12239           1
3   253601     1422     12239           1
4   246568     1497     12239           1

In [6]:
print(train_df.shape[0],train_df.drop_duplicates().shape[0])
print(item_df.shape[0],item_df.drop_duplicates().shape[0])

12868509 12868509
2832669 2832669

In [7]:
test_df = pd.read_csv('../data/Antai_AE_round1_test_20190626.csv')
print(test_df.shape[0])
test_df.head()

166832

  buyer_country_id  buyer_admin_id   item_id    create_order_time  irank
0               yy         1061132    189045  2018-07-17 07:43:40     18
1               yy         1081430  10713670  2018-07-17 09:43:15      8
2               yy         1918135  10546322  2018-07-17 11:11:34      9
3               yy          103277   5199603  2018-07-17 13:27:44     24
4               yy          103277   2477273  2018-07-17 13:27:44     22

# 数据介绍

## 训练数据(train): 
>###   给出xx国的用户的购买数据和yy国的A部分用户的购买数据。
## 测试数据(test): 
>###   给出yy国的B部分用户的购买数据除掉最后一条。

### 字段含义如下：
buyer_country_id: 买家国家id, 只有'xx'和'yy'两种取值 <br/>

buyer_admin_id: 买家id <br/>

item_id: 商品id <br/>

create_order_time: 订单创建时间 <br/>

irank: 每个买家对应的所有记录按照时间顺序的逆排序 <br/>

## 商品属性表(item_attr): 
>###    数据中共涉及2428226个商品，对于其中大部分商品，我们都会给出该商品的类目id、店铺id以及加密价格，其中价格的加密函数f(x)为一个单调增函数。
### 字段含义如下：
item_id：商品id <br/>
cate_id：类目id <br/>
store_id：店铺id <br/>
item_price：加密价格 <br/>
## 要求选手提交的数据
>关于yy国的B部分用户每个用户的最后一条购买数据的预测Top30

In [8]:
train_xx = train_df[train_df['buyer_country_id']=='xx']
train_yy = train_df[train_df['buyer_country_id']=='yy']
print(train_xx.shape[0],train_yy.shape[0])

10635642 2232867

# 购买最多的前100个

In [9]:
train_yy[['buyer_admin_id','item_id']].shape[0],train_yy[['buyer_admin_id','item_id']].drop_duplicates().shape[0]

(2232867, 1770082)

In [10]:
train_yy_1 = train_yy[['buyer_admin_id','item_id']].drop_duplicates()
train_yy_1 = train_yy_1.groupby(['item_id']).size().reset_index().rename(columns={0:'cnt'}).sort_values(by=['cnt'],ascending=False)
train_yy_1

         item_id  cnt
806655  11291525  768
769287  10788165  710
415417   6025215  625
841100  11717821  525
774865  10868663  524
149590   2191537  436
193694   2850195  431
794743  11140901  425
916034  12626807  414
219469   3227771  403
664288   9414379  394
704104   9907121  376
674513   9537542  367
838045  11680535  363
518911   7495308  362
519068   7498078  352
421234   6112486  347
263100   3866632  346
926138  13040827  345
925903  13038480  344
597148   8580840  317
106926   1555732  312
629169   8980792  310
749240  10525626  285
919535  12928279  284
924801  13018359  277
872797  12120132  274
64188     908415  264
677947   9582192  263
728451  10244477  258
...          ...  ...
133798   1955032    1
450127   6522112    1
133797   1955031    1
133796   1955030    1
450130   6522233    1
450131   6522235    1
450132   6522241    1
450133   6522244    1
450115   6522027    1
450114   6522013    1
450112   6521908    1
450111   6521904    1
133805   1955092    1
450095   6521733    1
450096   6521740    1
133804   1955088    1
450098   6521799    1
450099   6521800    1
450100   6521802    1
450101   6521820    1
133802   1955069    1
133801   1955052    1
450104   6521861    1
450105   6521867    1
450106   6521871    1
133800   1955050    1
450108   6521877    1
450109   6521880    1
450110   6521894    1
0              3    1

[926771 rows x 2 columns]

In [11]:
# 
train_xx = train_xx[train_xx['item_id'].isin(item_df['item_id'])==True]
train_xx.shape[0]

10619631

In [12]:
train_xx.head()

  buyer_country_id  buyer_admin_id  item_id    create_order_time  irank
0               xx         8362078        1  2018-08-10 23:49:44     12
1               xx         9694304        2  2018-08-03 23:55:07      9
3               xx         8131786        3  2018-08-31 06:00:19      9
4               xx         9778613        5  2018-08-21 06:01:56     14
5               xx         9643757        6  2018-08-27 07:20:43      5

In [12]:
train_xx['item_id'] = train_xx['item_id'].astype('str')

In [13]:
train_xx_1 = train_xx[['buyer_admin_id','item_id']].groupby(['buyer_admin_id']).agg(lambda x: ' '.join(x.values))
train_xx_1.head()

                                                          item_id
buyer_admin_id
1               1363 149829 311727 837168 928511 1193327 14322...
29              616854 616854 961527 1366136 1587401 1791039 2...
71              277654 277654 277654 280744 580426 3070006 393...
81              111370 3645675 4401623 7159321 9158518 9493430...
89              83309 4013364 6163539 7847626 8151180 8293320 ...

In [15]:
train_yy['item_id'] = train_yy['item_id'].astype('str')
train_yy_1['item_id'] = train_yy_1['item_id'].astype('str')
train_yy_1_1 = train_yy_1[train_yy_1['cnt']>=5]
train_yy = train_yy[train_yy['item_id'].isin(train_yy_1_1['item_id'])]
train_yy_2 = train_yy[['buyer_admin_id','item_id']].groupby(['buyer_admin_id']).agg(lambda x: ' '.join(x.values))
train_yy_2.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                                                          item_id
buyer_admin_id
111                                      8816044 8816044 10665523
119                                      2719441 7659205 11007197
142                      8139992 8345489 9110673 9907121 13015745
160                                               2689986 9984565
169             5793197 5793197 5793197 6456547 8122258 812225...

In [16]:
# xianglianghua
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()
vec.fit_transform(train_yy_2['item_id'])

<128931x52059 sparse matrix of type '<class 'numpy.int64'>'
	with 631999 stored elements in Compressed Sparse Row format>

In [17]:
train_xx_1_v = vec.transform(train_xx_1['item_id'])
train_xx_1_v

<670628x52059 sparse matrix of type '<class 'numpy.int64'>'
	with 1967560 stored elements in Compressed Sparse Row format>

In [18]:
test_df['item_id'] = test_df['item_id'].astype('str')
test_df_1 = test_df[['buyer_admin_id','item_id']].groupby(['buyer_admin_id']).agg(lambda x: ' '.join(x.values))
test_df_1_v = vec.transform(test_df_1['item_id'])
test_df_1_v

<11398x52059 sparse matrix of type '<class 'numpy.int64'>'
	with 47373 stored elements in Compressed Sparse Row format>

In [19]:
# 计算相似度
test_1 = train_xx_1_v * test_df_1_v[3].T
test_1 = test_1.toarray()
import numpy as np
print(np.where(test_1>0))
test_1[np.where(test_1>0)]

(array([  1013,   1039,  19570,  29651,  29721,  32259,  33010,  35187,
        37140,  43004,  48220,  48546,  52761,  56021,  56780,  58331,
        60136,  62394,  62519,  65125,  65392,  67557,  69606,  69780,
        71127,  71358,  74409,  75279,  80365,  83070,  85581,  87562,
        88854,  90502,  92591,  93302,  95046,  97460, 105609, 106354,
       106566, 114252, 123485, 124210, 127954, 131232, 135045, 135300,
       135946, 138441, 145052, 146755, 150937, 151013, 154986, 156810,
       157273, 159328, 164374, 165018, 165658, 169534, 172368, 174300,
       176504, 179723, 179885, 180411, 181124, 181175, 182764, 183877,
       185501, 185811, 187729, 189885, 190958, 191541, 195355, 199783,
       200504, 203538, 204252, 205227, 206013, 207783, 210340, 211685,
       212262, 213689, 215279, 216029, 223282, 228712, 229818, 229873,
       231164, 231451, 231473, 231637, 233634, 234365, 235460, 238540,
       238755, 245164, 247328, 250025, 258011, 260534, 261185, 262435,
       263567, 263947, 264798, 265352, 268726, 271074, 272434, 276091,
       281314, 281832, 282519, 282748, 283323, 284832, 285718, 290618,
       292972, 294334, 295298, 295350, 296059, 296325, 297338, 300863,
       301061, 301127, 303539, 304341, 305329, 306248, 308042, 308829,
       311203, 312339, 314777, 315122, 315745, 316719, 321299, 321331,
       322163, 322290, 323512, 323847, 325334, 326330, 329578, 330995,
       331741, 336951, 338141, 338629, 343406, 344722, 348629, 351286,
       356207, 356724, 360359, 361607, 362009, 362898, 364925, 367484,
       368233, 370829, 371230, 371527, 375078, 376768, 377636, 380194,
       381006, 386169, 386500, 388378, 390246, 391471, 395661, 398931,
       399463, 402136, 402451, 403577, 405350, 405829, 406384, 408918,
       410801, 412021, 412119, 413075, 413520, 418149, 421239, 423424,
       424808, 427328, 427922, 428172, 428361, 428847, 430627, 433508,
       437356, 438716, 438869, 442613, 444475, 446023, 446859, 447969,
       449330, 449839, 450782, 451354, 456639, 459963, 461232, 462326,
       474758, 480307, 484698, 485538, 485991, 488100, 489263, 497579,
       504528, 504649, 505945, 509223, 513725, 531743, 535268, 540746,
       540820, 541074, 543917, 544533, 545896, 551567, 553731, 556954,
       557122, 561028, 563762, 566651, 572561, 572970, 573405, 575710,
       583688, 584336, 584772, 585511, 588654, 589282, 589344, 589411,
       596328, 608314, 611990, 618719, 624152, 628501, 633174, 634228,
       638574, 639884, 642966, 643014, 644533, 644980, 647784, 648957,
       648993, 649453, 649484, 650043, 651976, 652018, 654689, 663310],
      dtype=int64), array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64))

array([ 2,  1,  2,  2,  2,  2,  2,  2,  2,  1,  2,  2,  2,  2,  1,  2,  2,
        1,  2,  2,  1,  2,  2,  2,  2,  2,  2,  1,  2,  2,  1,  6,  2,  2,
        1,  6,  2,  2,  4,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  4,  2,
        2,  4,  4,  2,  6,  1,  2,  1,  2,  2,  4,  1,  2,  2,  6,  2, 10,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  6,  2,  2,  2,  2,  1,  2,
        2,  2,  6,  2,  1,  2,  4,  1,  2,  8,  2,  2,  1,  1,  2,  1,  2,
        2,  2,  2,  2,  2,  2,  1,  2,  2,  1,  2,  2,  1,  2,  2,  4,  2,
        1,  2,  2,  2,  1,  1,  2,  2,  2,  2,  2,  2,  1,  2,  2,  2,  2,
        2,  2,  4,  1,  1,  2,  4,  2,  2,  2,  1,  2,  2,  2,  4,  1,  2,
        1,  4,  2,  2,  2,  2,  2,  2,  2,  4,  2,  4,  2,  2,  2,  2,  2,
        2,  2,  2,  4,  2,  6,  2,  2,  1,  2,  2,  1,  2,  2,  4,  4,  2,
        4,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  4,  2,  2,  2,  6,  6,  6,  2,  1,  2,  1,  2,  1,  2,
        2,  2,  2,  2,  2,  2,  2,  1,  1,  2,  2,  2,  2,  2,  2,  2,  1,
        2,  1,  2,  2,  1,  2,  2,  2,  2,  2,  2,  2,  2,  4,  1,  2,  2,
        1,  2,  2,  4,  1,  1,  2,  1,  1,  2,  2,  2,  1,  2,  2,  2,  2,
        2,  2,  1,  2,  4,  2,  4,  2,  2,  2,  2,  2,  4,  2,  2,  2,  1,
        2,  2,  2,  1,  2,  2,  2], dtype=int64)

In [66]:
test_df_1

                                                          item_id
buyer_admin_id
152             8351840 8472223 9891513 8410857 8064216 401606...
282             6547607 9677940 10808393 11536575 688799 11310...
321             10570664 9759248 10000188 10000188 9759248 263...
809             2347616 2262443 5492003 5707010 6339286 120757...
870             8952725 6787506 6163411 7412272 10234567 43436...
2410            11573165 7667925 1156153 3242952 904577 115731...
2956            7535052 7358377 745619 1284838 7644819 1866761...
3866            1192286 3388420 3991184 1192286 4428949 119228...
7277            6561610 530503 5482394 6775644 12441577 123570...
7944            6884658 5680299 6795431 9089404 4280956 428095...
8192            1575758 8957171 8012537 6208283 6208283 544123...
8408            10242192 4502347 13035792 665393 665359 119517...
8464            8673145 8241688 8673145 11055796 8673091 11037...
8637            7334003 5703905 8910564 11359278 5639030 25140...
8760            11075083 7195147 4184067 5813336 11075083 8940...
9015            5300682 3703072 18284 1222930 924117 2775264 6...
9035            1414382 2307115 8260171 7432186 7432186 152769...
9079            1274512 4376203 7886311 3964013 3315312 234128...
10146           3057411 3057411 3057411 2856736 10832838 10832...
10836           5320360 988711 1402358 5162355 764094 4945981 ...
11092           9041374 426384 6452394 7580109 9802330 519838 ...
12072           9485505 11290885 8297580 5145720 6029609 32619...
13571           488153 450460 488153 495494 2368260 6680629 17...
13851           1913880 1926597 2089807 2085920 1917001 188395...
14685           1927238 1874005 4691607 9888588 9765458 247652...
14757           8869549 3475210 25436 4528851 1040334 8460299 ...
15114           3743673 6129782 6110437 10659439 10354543 1092...
15195           3216850 7826134 3335895 3991030 979922 1142676...
17068           7528585 9951478 1748774 9664704 10283527 74940...
17141           1155126 5221582 9811248 6903778 793452 1042436...
...                                                           ...
13008196        8117410 11422157 11422157 11422157 10692087 11...
13024265        1915296 2733142 766240 8517264 9861363 7720538...
13024323        508272 508272 508272 5285377 10224561 9958307 ...
13024369        11499000 7828425 7828425 13001397 13001397 130...
13025072        4286877 9688536 2256656 9352298 3025084 765048...
13025986        2885471 7173733 10252830 5739415 9520867 75483...
13026568        1889299 8948627 6195597 6195597 6195597 619559...
13027356        12474522 9478701 6071521 9478701 7027025 70270...
13027430        5867257 1666832 11277872 862201 228559 61817 1...
13028759        10462842 10462842 11585585 11550263 6418543 66...
13028937        2744603 7805265 6278237 6278237 1509553 309299...
13028976        5857431 4852733 10602651 9326463 1290259 55168...
13029399        9301834 8547587 8547587 8547587 8547587 854758...
13029522        12915569 10047489 7642328 4350575 4350575 9711...
13029742        5175546 4752350 8672274 8696622 4990485 731638...
13029924        4886901 11739293 11977196 11672262 8421677 129...
13029976        2524958 1396531 941515 941515 941515 1396531 2...
13030926        945275 10196667 9014194 9014194 2742001 274200...
13032038        10645315 8895179 7513739 8895179 11476064 1138...
13034116        4597001 6266686 10782889 1850199 1507320 50178...
13035742        2766726 2766726 2766726 2766726 2766726 276672...
13037285        5311193 4048876 4424159 4424159 3619538 628157...
13037296        8755974 8755974 6586041 6121134 8457004 845700...
13038422        10622510 10622510 10622510 10622510 10622510 1...
13039625        4522369 6662644 1221648 5477019 5477019 122164...
13041046        8463489 10226388 12379158 11922313 10811396 49...
13041581        9897075 11385307 12418021 12418021 1620994 984...
13044048        11124939 9052525 9052525 11680535 63066 116805...
13046354        12569394 9776214 9556217 12400852 7100322 7945...
13046601        5619538 5619538 5619538 5619538 5619538 561953...

[11398 rows x 1 columns]

In [79]:
test_df_1.iloc[0,].values[0]

'8351840 8472223 9891513 8410857 8064216 4016066 7937154'

In [82]:
test_df_1.iloc[0,].name

152

In [90]:
# 关于yy国的B部分用户每个用户的最后一条购买数据的预测Top30
# 请选手提交的CSV文件, 其格式如下：
# buyer_admin_id,predict 1,predict 2,…,predict 30

import numpy as np

result = []
for i in range(test_df_1_v.shape[0]):
    test_i = test_df_1_v[i]
    test_1 = train_xx_1_v * test_i.T
    test_1 = test_1.toarray()
    corr_mat = np.argsort(-test_1.T,axis=1)
#     print(corr_mat)
#     corr_top_lst = corr_mat[:,0:2][0]
#     print(train_xx_1.iloc[corr_top_lst,:].values)
#     print(" ".join(train_xx_1.iloc[corr_top_lst,:].values.flatten()))
    j = 1
    top_n = 0
    top_30 = 30
    item_top = []
    while top_n<top_30:
        corr_top_lst = corr_mat[:,0:j][0]
        item_lst_clue = " ".join(train_xx_1.iloc[corr_top_lst,:].values.flatten()).split(" ")
        item_lst_have = test_df_1.iloc[i,].values[0].split(" ")
        item_top = set(item_lst_clue) - set(item_lst_have)
        top_n = len(item_top)
        j = j+1
#         print(item_lst_clue)
#         print(item_lst_have)
#         print(top_n)
    result.append([test_df_1.iloc[i,].name] + list(item_top)[0:30])

result = pd.DataFrame(result)
result

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,152,11793723,10923467,8691326,8988335,10858133,12144154,11171347,8522599,8165456,...,11598643,5517808,9890103,322698,1589650,2213546,4998345,7839968,1464587,6379477
1,282,280550,4404600,5993014,7757698,2021623,5999449,2158247,3310757,10685119,...,7913586,11537538,5940155,2086048,6437189,8732749,8927403,3437726,7575596,7444591
2,321,593003,2969216,5748179,5190873,4305422,2289447,2290168,6267352,10822350,...,11235982,756195,109455,872426,1494329,6737851,590493,773172,1472551,324223
3,809,4844691,5378133,4554036,5326024,1444370,1938797,1656268,4218750,8235348,...,9929813,2390373,6774235,8553904,5657461,2194480,9159439,1812208,4564754,741932
4,870,8227677,8495485,46835,9860804,10745176,8371312,8351782,3809865,8473643,...,9427219,3631710,4432324,8599974,5658963,8585210,4916789,4030451,2764880,8584105
5,2410,10039023,11711248,11765282,1469491,10923467,12043751,12891086,5435662,11396001,...,6730824,11851617,12247625,7744706,4087442,11616506,8320859,12509003,4529517,10848192
6,2956,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,6442985,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
7,3866,8651285,5414011,8471739,1032078,47230,2300770,6194163,3824319,8454107,...,877209,3795310,9639586,5932992,6036366,9393503,8608721,9770150,11572923,889079
8,7277,3307115,8021966,6128784,11747910,11047354,2343979,8558694,2501923,5610461,...,8063066,9274238,5632949,5311330,12134022,8898833,5546673,773110,848996,7782819
9,7944,5283524,4768512,8732449,11700403,5770080,10408292,9773539,12397623,9623963,...,11311485,11218030,9180814,10514346,9581905,11057362,12022768,13040248,8396661,11479003
10,8192,7138109,1359800,296044,12926921,2085776,11386234,11713381,1244044,314512,...,7610923,10885135,4669381,1271142,9739795,8400438,6718248,9987157,68654,1279755
11,8408,2870538,8994056,3430017,3300568,12178339,5318464,3333624,12401242,8191836,...,3651678,1491207,5986609,6744173,7952609,253695,12824199,6536563,10283993,7988074
12,8464,5041986,6494147,9486044,3329296,4453232,9128492,1464655,6398342,9602808,...,5220334,862773,8835356,107710,311922,2423571,12430729,4565317,3109556,5679283
13,8637,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
14,8760,6709493,1041865,3234790,5956623,12891086,4312324,38350,6993075,9936322,...,4131998,774752,1115684,9696393,387411,4014033,9036750,1951318,3928538,5052695
15,9015,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
16,9035,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
17,9079,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,6442985,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
18,10146,10623464,8637882,451207,3710109,2713602,6026803,2274891,8630371,2528390,...,5414896,8894923,9480521,3828872,2829646,9225707,9550432,2907980,1513944,6275018
19,10836,3346581,1856126,9485814,1394123,3015929,3373697,1805840,8307844,2891000,...,7060669,5574462,8740632,7836413,8505640,10521290,4753422,6893502,4477414,2988201
20,11092,251294,9506092,7611501,3577503,4530944,386241,4892540,1285216,4619183,...,2217502,7909641,9270913,2148541,12804432,2450552,60790,3117805,7683913,852272
21,12072,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
22,13571,6677309,7316275,950234,12423812,12441208,11032902,9330884,12574887,7861767,...,1471150,9721808,11458782,8925813,12933950,12559711,12485710,12488229,7591674,7136077
23,13851,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
24,14685,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
25,14757,2096072,2109162,5927955,13006287,4373607,3395392,5233648,3580995,10216294,...,293430,7591674,9541079,4506234,7869607,9281394,12132377,9224218,7845527,275439
26,15114,4518368,9755146,3056001,9666949,5481020,6999621,7852466,10691873,9662025,...,3641204,10795180,5115572,10683948,5457131,8654798,8573772,6155293,4262041,9440427
27,15195,4521624,11878122,5704317,8157634,1930987,490487,11610961,7262915,9982080,...,6896398,10723229,1130267,4750484,686324,1437652,6179314,4587506,4803442,10245856
28,17068,5058093,9254414,12951609,5347942,5803237,10562732,9594032,5807260,8365841,...,1077306,12983126,8425902,10582149,8901504,3904025,9607941,8574862,5772937,10110126
29,17141,8134971,10012160,7699199,10757513,1483449,9236388,5737888,2411304,3107999,...,9438353,5312361,9159439,7682937,8572076,7788334,6475408,5772937,9531029,5243616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11368,13008196,1220292,1077701,3766018,12314582,1167773,8330248,5108877,4402021,6312703,...,1408851,4811232,5902787,2810141,8099239,4164916,4832347,634028,8750573,5668319
11369,13024265,1530972,9958362,9630921,3980754,2650812,10224213,3876114,9493010,2314258,...,6173168,7707369,5305588,2536516,5309788,6841347,3062912,4166479,5512424,7798969
11370,13024323,3628128,3781686,3500867,4149979,5793007,5820264,5813416,2958064,1726805,...,941434,11733576,1544099,2314929,4976463,10716000,2598603,7527287,3294287,8682987
11371,13024369,12322868,11993553,6163539,10609949,12393692,12623098,12485074,1434435,12031466,...,12401904,5999161,10894655,12289574,2348979,1515763,12475740,1795332,9166778,9775840
11372,13025072,9685259,4323420,4387005,11143880,6084564,10915108,9540308,201399,10820175,...,11444758,6692746,10175861,1809620,6579068,9827241,378137,12401265,1872740,8478884
11373,13025986,3421158,7825552,4599054,4032548,2329093,4014655,11297514,7852136,3847835,...,5658661,336019,1432011,5636788,1401369,1432976,4992785,9665807,790715,6799685
11374,13026568,2874005,1397706,4176414,7254312,7277781,3911163,4487310,1933438,2183804,...,3332376,8995379,385461,4807373,4175061,1470119,4047219,6503695,9855723,4852485
11375,13027356,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
11376,13027430,1034026,3288040,5915888,8765122,3516945,972630,519995,6906520,8103006,...,6149660,11256107,915370,7209844,3187402,7062660,5261886,4941137,8088311,6983001
11377,13028759,1632963,10981821,6602133,11277285,7464543,10517552,5731210,1543231,1098568,...,872765,6236645,11887344,4845297,10417234,3924389,10942599,9323949,9124861,3434754
11378,13028937,4610102,5002991,5682891,5430562,810304,3616945,6730756,4792904,10113783,...,10203527,7774639,9359459,4955416,12689347,6587810,5379171,7786136,817514,55203
11379,13028976,11005359,12869145,7692625,5522431,7751956,757513,8515141,8214126,7649367,...,12561707,10706360,7891688,7636106,12595530,11954661,9794469,10888257,7529933,12154590
11380,13029399,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
11381,13029522,4042145,8264902,9461975,12889464,8259002,9331611,11987143,663917,696958,...,377425,277654,10763850,4934079,3798216,9237517,3479788,2578690,1255892,10332437
11382,13029742,2251039,6171712,468907,8260234,6419888,8553236,6159687,7804856,4757059,...,4803364,152652,10014488,5972786,4531219,1947162,10794440,264110,11806174,5286627
11383,13029924,9233896,5684519,6921651,9485529,7616128,2568980,10745768,1483449,2573037,...,8829992,7480598,9662374,2729918,7808314,8151180,1091792,5961045,2565939,9830899
11384,13029976,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
11385,13030926,9906511,12891086,9062226,8022447,4218750,7347380,6253962,10086016,10428223,...,5930669,9907121,6071034,7915269,9789145,10305741,7116917,9422868,3163569,4176070
11386,13032038,6678660,2209898,464992,4177089,10506552,2119273,7169659,2692258,8144507,...,6809327,1495026,3930126,11788733,4506234,4753422,11488061,11524643,3365495,10309887
11387,13034116,10522408,7891664,4203165,7533238,707095,11246556,3594286,4016787,3845201,...,7155802,2709845,4160624,8433844,9402199,8757223,1387686,7829990,3515631,646034
11388,13035742,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
11389,13037285,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
11390,13037296,10242633,6564939,2324790,6518141,7546772,2262246,6875663,7208952,1704461,...,6519066,6590528,3963446,5966236,3176985,2206568,6515141,9652407,1340160,7009018
11391,13038422,5557256,3200473,1363,1668449,2357621,311727,11433672,11604770,5080954,...,7616663,1193327,6004191,10864714,149829,8248021,2027711,2129161,2010333,9717330
11392,13039625,10608583,6892780,10569148,8566358,3361390,8141982,3159088,5880761,1328094,...,2759425,5004305,2449259,7827563,10104145,2971488,1115469,3514899,3428911,8048816
11393,13041046,4989530,3056016,10254286,961258,10094245,10323763,1523188,7374748,9196256,...,8566306,271282,11776181,9971853,8964481,3735909,5597430,11322651,398645,5590716
11394,13041581,5145267,6948859,11168456,9549383,2372898,9090751,3211444,7557895,7659606,...,3554897,10922944,4129865,4443827,6486267,1704309,2615803,8477684,2975564,4527443
11395,13044048,10325353,11336005,11694263,10939877,11234003,11918350,777143,11536452,11542854,...,10604385,8731357,9765403,9073076,11614849,10943578,965538,12516427,8095108,11275367
11396,13046354,5394631,9958362,11027649,7102860,1767184,2830606,7676745,1745081,2696994,...,4815373,9405399,1780221,8115009,9841343,2079157,97751,6620721,8960975,3854595
11397,13046601,3419905,1971334,6474559,4884091,3676342,2964899,6174542,407941,1079607,...,1862344,5613128,6117303,10952982,878812,6352128,6864627,6884730,6811979,12822542

In [91]:
result.to_csv('../data/submit_1.csv',header=None,index=False)