In [1]:
import pandas as pd

test_df = pd.read_csv('../data/Antai_AE_round1_test_20190626.csv')
print(test_df.shape[0])
test_df.head()

import zipfile

# 默认模式r,读
train_zip = zipfile.ZipFile('../data/Antai_AE_round1_train_20190626.zip')
item_zip = zipfile.ZipFile('../data/Antai_AE_round1_item_attr_20190626.zip') 
print(train_zip.namelist())
print(item_zip.namelist())
train = train_zip.open('Antai_AE_round1_train_20190626.csv')
item = item_zip.open('Antai_AE_round1_item_attr_20190626.csv')

train_df = pd.read_csv(train)
item_df = pd.read_csv(item)

train_yy = train_df[train_df['buyer_country_id']=='yy']
train_yy.head()

166832
['Antai_AE_round1_train_20190626.csv']
['Antai_AE_round1_item_attr_20190626.csv']

   buyer_country_id  buyer_admin_id  item_id    create_order_time  irank
2                yy          101887        3  2018-08-27 08:31:26      3
9                yy          288460        6  2018-08-31 13:41:25     11
10               yy          341958        6  2018-08-31 15:42:10      1
12               yy        12849617        6  2018-08-09 04:10:36     17
16               yy          770888        6  2018-08-31 23:33:54     12

In [2]:
tmp = test_df[test_df['irank']<=31].sort_values(by=['buyer_country_id','buyer_admin_id','irank'])[['buyer_admin_id','item_id','irank']]
tmp.head()

       buyer_admin_id  item_id  irank
91354             152  8410857      2
91357             152  7937154      3
91352             152  8472223      4
91356             152  4016066      5
91353             152  9891513      6

In [30]:
hot_item_30 = pd.DataFrame(pd.concat([test_df,train_yy]).groupby(['item_id']).size(),columns=['cnt']).sort_values('cnt',ascending=False)[:30]
hot_item_30.head()

           cnt
item_id
11717821  1505
11140901  1492
5595070   1378
11680535  1337
2850195   1295

In [ ]:
# train_yy['create_order_time'] = train_yy.create_order_time.apply(lambda x:pd.to_datetime(x))
# train_yy['hour'] = train_yy['create_order_time'].dt.hour
# train_yy['date'] = train_yy['create_order_time'].dt.day
# train_yy['month'] = train_yy['create_order_time'].dt.month
# train_yy['year'] = train_yy['create_order_time'].dt.year
# train_yy['month-date'] = train_yy.month.astype(str)+'-'+train_yy.date.astype(str)
# train_yy['count'] = 1
# train_yy['dayofweek'] = train_yy['create_order_time'].dt.dayofweek
# train_yy['isweekend'] = train_yy['dayofweek'].apply(lambda x:0 if x<5 else 1)
# train_yy.head()

# test_df['create_order_time'] = test_df.create_order_time.apply(lambda x:pd.to_datetime(x))
# test_df['hour'] = test_df['create_order_time'].dt.hour
# test_df['date'] = test_df['create_order_time'].dt.day
# test_df['month'] = test_df['create_order_time'].dt.month
# test_df['year'] = test_df['create_order_time'].dt.year
# test_df['count'] = 1
# test_df['month-date'] = test_df.month.astype(str)+'-'+test_df.date.astype(str)
# test_df['dayofweek'] = test_df['create_order_time'].dt.dayofweek
# test_df['isweekend'] = test_df['dayofweek'].apply(lambda x:0 if x<5 else 1)

In [7]:
import pickle

with open('usercf_pred.pkl', 'rb') as f:
    usercf_pred = pickle.load(f)

with open('itemcf_pred.pkl', 'rb') as f:
    itemcf_pred = pickle.load(f)

In [8]:
result = usercf_pred.predict()
result_df = pd.DataFrame(result,columns=['buyer_admin_id','rec_items'])
result_df['rec_items'] = result_df.rec_items.apply(lambda x:[i[0] for i in x])
result_df['len'] = result_df.rec_items.apply(lambda x:len(x))
result_df

Predict start...
recommended for 0 users
recommended for 500 users
recommended for 1000 users
recommended for 1500 users
recommended for 2000 users
recommended for 2500 users
recommended for 3000 users
recommended for 3500 users
recommended for 4000 users
recommended for 4500 users
recommended for 5000 users
recommended for 5500 users
recommended for 6000 users
recommended for 6500 users
recommended for 7000 users
recommended for 7500 users
recommended for 8000 users
recommended for 8500 users
recommended for 9000 users
recommended for 9500 users
recommended for 10000 users
recommended for 10500 users
recommended for 11000 users
Predict end...

       buyer_admin_id                                          rec_items  len
0             1061132  [1992350, 1207574, 189045, 11271996, 1516143, ...   30
1             1081430  [4109174, 822359, 9932432, 10184371, 11565882,...   30
2             1918135  [10546322, 2724688, 3239694, 5939557, 6079606,...   30
3              103277  [7563496, 3993974, 7481939, 10743206, 7785543,...   30
4             1957158  [1214872, 1397346, 6766255, 4955926, 5702107, ...   30
5             1376989  [9972220, 11790053, 8694133, 410019, 1551855, ...   30
6             1563046  [2434940, 8516922, 10035229, 8300510, 7068791,...   30
7             1280264  [3866632, 9388436, 11545249, 5133006, 695628, ...   28
8              104145  [1433894, 3197976, 5362349, 1236358, 1291401, ...   30
9              850637  [7017123, 10251187, 10622895, 10686858, 119543...   30
10            1135064  [10433903, 8099239, 10300735, 10492522, 108251...   30
11            2302927  [7521360, 3375401, 2641569, 2620657, 5191840, ...   30
12            1152117  [5973981, 7698995, 5786972, 9788190, 10104079,...   30
13             570640  [9299908, 2392165, 10491948, 7370949, 269849, ...   30
14            1917676  [6423473, 4976805, 5485826, 6381790, 11980433,...   30
15            1944372  [10175288, 8685503, 758341, 2393188, 4097780, ...   30
16             235457  [12314621, 12177522, 11677603, 4792153, 575401...   30
17            1746023  [4797146, 7118512, 12816323, 8368304, 12406203...   30
18             406801  [10516392, 1727672, 283107, 4522268, 8141361, ...   30
19             230941  [6783037, 526826, 3575829, 2318992, 4937239, 8...   30
20            1553497  [7663592, 9535410, 10151922, 10156269, 480658,...   30
21             982049  [625121, 625186, 10192310, 7350995, 3039739, 8...   30
22            1000927  [8920282, 11375859, 10529296, 11236113, 129789...   30
23             730501  [9023224, 6619730, 9161396, 3591180, 6194866, ...   30
24             135882  [6457140, 10176518, 9461975, 7979097, 1244150,...   30
25             653027  [10060924, 5668704, 2946480, 4658641, 9604575,...   30
26            2161973  [9756464, 9973016, 1196016, 10353218, 10883836...   30
27            1594372  [11982814, 13035167, 5135820, 9974770, 1047071...   30
28             723249  [5553235, 480325, 4868643, 7550926, 9064398, 1...   30
29             503825  [11932296, 8815059, 12577021, 11526051, 249217...   30
...               ...                                                ...  ...
11368         1764504  [2249889, 5777955, 8525615, 2395805, 5901899, ...   30
11369         2203284  [1302947, 9560030, 8869187, 6161792, 9359967, ...   30
11370         1128243  [8269599, 9567033, 12152275, 9259141, 2107553,...   30
11371          847003  [10140500, 10752801, 6926374, 8249320, 9256396...   30
11372         2053089  [2307482, 7393913, 1761912, 3547573, 6684037, ...   30
11373         1439342  [12093615, 10025910, 3220756, 3850628, 7155403...   30
11374         2212230  [6025215, 9907121, 5726997, 2133349, 2925223, ...   29
11375          305285  [8195907, 11715056, 541572, 9133572, 10072371,...   30
11376          994361  [6497924, 8834769, 1261389, 11291525, 1891295,...   30
11377          960146  [11526051, 11412401, 10126085, 1695358, 305306...   30
11378         2179759  [3334215, 4536110, 1994006, 2972034, 5534385, ...   30
11379         1785549  [2138353, 8837122, 8117410, 6689674, 11148805,...   30
11380         2134165  [11538073, 2541425, 5432024, 11028413, 6129840...   30
11381         2145746  [8422914, 9775459, 3159240, 4880617, 1857878, ...   30
11382          478657  [4396852, 3037124, 1755044, 2975295, 3569752, ...   30
11383         1775754  [6025215, 3362266, 9907121, 7473388, 3625959, ...   30
11384          748015  [6663274, 12607973, 602156, 1234973, 3059563, ...   30
11385          394913                                                 []    0
11386          227724  [11845247, 2132560, 7977628, 8200028, 2927321,...   30
11387         1283974  [9897114, 6318438, 12543540, 319264, 651168, 5...   30
11388          385591  [372521, 2863365, 3762803, 3764814, 6717763, 5...   30
11389          524369  [4848097, 7471819, 5063581, 5300877, 9872494, ...   30
11390         1688905  [11201409, 2156012, 5445745, 8069568, 8647480,...   30
11391         2361324  [3140148, 620653, 1271763, 7533238, 1013112, 6...   30
11392         1931205  [9354413, 1427684, 3514289, 4394247, 4947024, ...   30
11393          419958  [1291401, 268820, 2393398, 2895381, 3025407, 3...   30
11394         1242965  [6188307, 384877, 426384, 1194558, 1197459, 21...   30
11395          962939  [7151390, 8297443, 6025215, 7661956, 3096187, ...   30
11396         1243416  [7720560, 1666365, 7634786, 1563814, 1937716, ...   30
11397         2150916  [5064674, 12037837, 5378739, 8511839, 9760979,...   30

[11398 rows x 3 columns]

In [9]:
result_1 = itemcf_pred.predict()
result_1_df = pd.DataFrame(result_1,columns=['item_id','rec_users'])
result_1_df['rec_users'] = result_1_df.rec_users.apply(lambda x:[i[0] for i in x])
result_1_df['len'] = result_1_df.rec_users.apply(lambda x:len(x))
result_1_df

Predict start...
recommended for 0 users
recommended for 500 users
recommended for 1000 users
recommended for 1500 users
recommended for 2000 users
recommended for 2500 users
recommended for 3000 users
recommended for 3500 users
recommended for 4000 users
recommended for 4500 users
recommended for 5000 users
recommended for 5500 users
recommended for 6000 users
recommended for 6500 users
recommended for 7000 users
recommended for 7500 users
recommended for 8000 users
recommended for 8500 users
recommended for 9000 users
recommended for 9500 users
recommended for 10000 users
recommended for 10500 users
recommended for 11000 users
recommended for 11500 users
recommended for 12000 users
recommended for 12500 users
recommended for 13000 users
recommended for 13500 users
recommended for 14000 users
recommended for 14500 users
recommended for 15000 users
recommended for 15500 users
recommended for 16000 users
recommended for 16500 users
recommended for 17000 users
recommended for 17500 users
recommended for 18000 users
recommended for 18500 users
recommended for 19000 users
recommended for 19500 users
recommended for 20000 users
recommended for 20500 users
recommended for 21000 users
recommended for 21500 users
recommended for 22000 users
recommended for 22500 users
recommended for 23000 users
recommended for 23500 users
recommended for 24000 users
recommended for 24500 users
recommended for 25000 users
recommended for 25500 users
recommended for 26000 users
recommended for 26500 users
recommended for 27000 users
recommended for 27500 users
recommended for 28000 users
recommended for 28500 users
recommended for 29000 users
recommended for 29500 users
recommended for 30000 users
recommended for 30500 users
recommended for 31000 users
recommended for 31500 users
recommended for 32000 users
recommended for 32500 users
recommended for 33000 users
recommended for 33500 users
recommended for 34000 users
recommended for 34500 users
recommended for 35000 users
recommended for 35500 users
recommended for 36000 users
recommended for 36500 users
recommended for 37000 users
recommended for 37500 users
recommended for 38000 users
recommended for 38500 users
recommended for 39000 users
recommended for 39500 users
recommended for 40000 users
recommended for 40500 users
recommended for 41000 users
recommended for 41500 users
recommended for 42000 users
recommended for 42500 users
recommended for 43000 users
recommended for 43500 users
recommended for 44000 users
recommended for 44500 users
recommended for 45000 users
recommended for 45500 users
recommended for 46000 users
recommended for 46500 users
recommended for 47000 users
recommended for 47500 users
recommended for 48000 users
recommended for 48500 users
recommended for 49000 users
recommended for 49500 users
recommended for 50000 users
recommended for 50500 users
recommended for 51000 users
recommended for 51500 users
recommended for 52000 users
recommended for 52500 users
recommended for 53000 users
recommended for 53500 users
recommended for 54000 users
recommended for 54500 users
recommended for 55000 users
recommended for 55500 users
recommended for 56000 users
recommended for 56500 users
recommended for 57000 users
recommended for 57500 users
recommended for 58000 users
recommended for 58500 users
recommended for 59000 users
recommended for 59500 users
recommended for 60000 users
recommended for 60500 users
recommended for 61000 users
recommended for 61500 users
recommended for 62000 users
recommended for 62500 users
recommended for 63000 users
recommended for 63500 users
recommended for 64000 users
recommended for 64500 users
recommended for 65000 users
recommended for 65500 users
recommended for 66000 users
recommended for 66500 users
recommended for 67000 users
recommended for 67500 users
recommended for 68000 users
recommended for 68500 users
recommended for 69000 users
recommended for 69500 users
recommended for 70000 users
recommended for 70500 users
recommended for 71000 users
recommended for 71500 users
recommended for 72000 users
recommended for 72500 users
recommended for 73000 users
recommended for 73500 users
recommended for 74000 users
recommended for 74500 users
recommended for 75000 users
recommended for 75500 users
recommended for 76000 users
recommended for 76500 users
recommended for 77000 users
recommended for 77500 users
recommended for 78000 users
recommended for 78500 users
recommended for 79000 users
recommended for 79500 users
recommended for 80000 users
recommended for 80500 users
recommended for 81000 users
recommended for 81500 users
recommended for 82000 users
recommended for 82500 users
recommended for 83000 users
recommended for 83500 users
recommended for 84000 users
recommended for 84500 users
recommended for 85000 users
recommended for 85500 users
recommended for 86000 users
recommended for 86500 users
recommended for 87000 users
recommended for 87500 users
recommended for 88000 users
recommended for 88500 users
recommended for 89000 users
recommended for 89500 users
recommended for 90000 users
recommended for 90500 users
recommended for 91000 users
recommended for 91500 users
recommended for 92000 users
recommended for 92500 users
recommended for 93000 users
recommended for 93500 users
recommended for 94000 users
recommended for 94500 users
recommended for 95000 users
recommended for 95500 users
recommended for 96000 users
recommended for 96500 users
recommended for 97000 users
recommended for 97500 users
recommended for 98000 users
recommended for 98500 users
recommended for 99000 users
recommended for 99500 users
recommended for 100000 users
recommended for 100500 users
recommended for 101000 users
recommended for 101500 users
recommended for 102000 users
recommended for 102500 users
recommended for 103000 users
recommended for 103500 users
recommended for 104000 users
recommended for 104500 users
Predict end...

         item_id                                          rec_users  len
0         189045                                  [2158892, 220694]    2
1       10713670                 [102979, 1081430, 1322529, 471295]    4
2       10546322                        [1387152, 1709510, 1853302]    3
3        5199603                           [103277, 895432, 404616]    3
4        2477273                                          [1727071]    1
5        2713102                [1969402, 1338701, 2144512, 103277]    4
6        8430088  [103277, 1352544, 826684, 1129329, 1992851, 51...   16
7        9156316  [1716889, 1957158, 263529, 1598310, 233273, 12...   11
8        3477402  [1376989, 1710118, 1366491, 1902807, 1576654, ...   30
9        4547408                                          [1745624]    1
10      10216832                                  [794452, 1280264]    2
11       1602839                                           [104145]    1
12       7412985                                           [850637]    1
13       7451242                                           [850637]    1
14       6383803                                          [1920816]    1
15       6550085                                           [269542]    1
16       8192508                                           [850637]    1
17      11460802                                           [850637]    1
18       5278123                                           [850637]    1
19       8548120                                           [850637]    1
20       8099239        [1657125, 1673423, 355820, 2165648, 497280]    5
21       7521360  [1607755, 1463503, 733164, 1012527, 1318481, 1...   16
22       4685262        [1318168, 2302927, 362160, 1931289, 875519]    5
23       1610811                                          [1782312]    1
24       4159513  [1152117, 182819, 1690627, 1782312, 130062, 18...   30
25       5973981                         [612211, 1534941, 1258530]    3
26       9630517  [295483, 1480942, 914978, 1043524, 12216022, 7...    8
27       6423473                 [1918068, 1012784, 938608, 805035]    4
28       3060461  [1944372, 1449933, 955014, 161657, 1456681, 46...   10
29      10174763                         [1944372, 1487378, 779836]    3
...          ...                                                ...  ...
104705   9410651                                           [269542]    1
104706   5420789  [818384, 962939, 2089342, 1899307, 1993612, 73...   28
104707   6164695                                           [151627]    1
104708   9745668                         [1899705, 441234, 1323111]    3
104709   8132205                                  [341192, 1881037]    2
104710   3980451                                          [1926724]    1
104711  11612688  [1243416, 1273136, 742548, 1753724, 495950, 27...   30
104712  11764488               [1273136, 1243416, 742548, 12633780]    4
104713   9514838  [1243416, 1273136, 742548, 1753724, 495950, 27...   30
104714   3168640                                 [1645611, 1120575]    2
104715    623407  [1243416, 1273136, 742548, 1753724, 495950, 27...   30
104716   9268570                                  [681959, 1040387]    2
104717   8931543                                  [1753724, 271099]    2
104718   3208954                                 [1048308, 2397317]    2
104719   2543998  [133490, 224893, 109116, 625395, 676463, 68958...   11
104720   2742278  [625395, 224893, 2242464, 579907, 676463, 1334...   12
104721  12478258                                 [1043442, 1293139]    2
104722  12037837                         [716821, 2150916, 1931838]    3
104723    704840                        [1690087, 1814615, 2150916]    3
104724   6513863  [2150916, 1814615, 1690087, 1407268, 948886, 1...   19
104725   5378739                                 [1999509, 2021511]    2
104726   6704682  [2150916, 1814615, 1690087, 1407268, 948886, 1...   19
104727   4287248  [2150916, 1814615, 1690087, 1407268, 948886, 1...   19
104728   6520267                [2034780, 1965049, 2269394, 912004]    4
104729   5832031                   [137214, 965111, 67667, 2183494]    4
104730  10957153                                           [481075]    1
104731   4341301                                          [2203722]    1
104732    422053                                  [1048308, 816302]    2
104733   3690841                                 [1048308, 2397317]    2
104734   3751035                                  [1364389, 819758]    2

[104735 rows x 3 columns]

In [24]:
train_yy[train_yy['item_id'].isin(['4341301','9268570'])]

        buyer_country_id  buyer_admin_id  item_id    create_order_time  irank
4288540               yy         2203722  4341301  2018-08-28 10:42:30     29
4288541               yy         2203722  4341301  2018-08-28 22:43:00     24
4288542               yy          575252  4341301  2018-08-31 22:50:10      5
9144680               yy         1315006  9268570  2018-08-04 05:36:57     22
9144681               yy          838056  9268570  2018-08-05 03:00:57     11
9144682               yy         1249678  9268570  2018-08-08 10:57:32     13
9144683               yy         1024038  9268570  2018-08-13 12:29:28      4
9144684               yy         1345576  9268570  2018-08-09 05:43:09      9
9144685               yy         1387284  9268570  2018-08-27 02:41:50      4
9144686               yy         1098204  9268570  2018-08-14 07:23:31      6
9144687               yy         1040387  9268570  2018-08-02 04:18:32     63
9144688               yy         1137661  9268570  2018-08-08 07:27:01     12
9144689               yy         1163527  9268570  2018-08-10 02:30:29      2
9144690               yy         1914976  9268570  2018-08-10 04:09:13      3
9144691               yy         1992442  9268570  2018-08-03 10:52:00     10
9144692               yy         1807006  9268570  2018-08-08 07:09:56     15
9144693               yy         1742578  9268570  2018-08-06 03:33:12     23
9144694               yy         1714712  9268570  2018-08-14 00:35:13     28
9144695               yy         1797110  9268570  2018-08-06 12:57:20      4
9144696               yy         2286566  9268570  2018-08-09 06:30:57     13
9144697               yy          681959  9268570  2018-08-30 00:50:10      3
9144698               yy          431143  9268570  2018-08-16 00:36:42      2
9144699               yy          588793  9268570  2018-08-07 03:58:38     17
9144700               yy          308152  9268570  2018-08-02 01:27:53     29
9144701               yy          634710  9268570  2018-08-07 08:03:59     16
9144702               yy          477486  9268570  2018-08-10 06:15:25     15
9144703               yy          535838  9268570  2018-08-27 18:57:35      9
9144704               yy        12389144  9268570  2018-08-02 08:35:04      5
9144705               yy        12846264  9268570  2018-08-18 12:13:39      6

In [11]:
rec_result = tmp.set_index(['buyer_admin_id','irank']).unstack(-1)
rec_result

                   item_id                                                  \
irank                   2           3           4           5           6
buyer_admin_id
152              8410857.0   7937154.0   8472223.0   4016066.0   9891513.0
282             11721802.0   7665423.0   7665423.0  10808393.0  11310708.0
321              1461800.0   7379845.0   9243286.0   7379845.0    627849.0
809              2347616.0   5707010.0   6339286.0   5492003.0   1207574.0
870             11382694.0   5999244.0   6611583.0   7412272.0   4343647.0
2410             1991652.0   3010258.0   8734237.0   5529566.0  12328639.0
2956             7116759.0   7116759.0   8778275.0   5039457.0   5071633.0
3866             3738221.0   8326767.0   3366910.0   3366910.0   9638971.0
7277            11977450.0   8343022.0  10813894.0  11826481.0    465594.0
7944            10039927.0  11659460.0   7598016.0   9607731.0   9555054.0
8192             1306627.0   4538161.0   9715746.0   4538161.0   6857974.0
8408             9988978.0   4244544.0    665393.0   1195177.0   1192063.0
8464               70466.0   2914396.0   2914396.0   2686621.0   2094230.0
8637             5639030.0   8910564.0   5703905.0   7334003.0   8693860.0
8760             5813336.0   8940662.0  11075083.0   5813336.0   4184067.0
9015             3703072.0   2775264.0     18284.0    924117.0   1222930.0
9035             5831736.0   1527698.0   7432186.0   7432186.0   8260171.0
9079              153030.0   7886311.0   2203597.0   4376203.0   2341287.0
10146            1239063.0   1239063.0   1239063.0  11493702.0  11493702.0
10836            4218750.0     59243.0   4945981.0    764094.0    336653.0
11092            6017984.0   8057645.0   2969882.0   8545184.0    519838.0
12072            1434548.0  10318396.0   3261925.0   6029609.0   5145720.0
13571            2368260.0    488153.0   6680629.0    450460.0    488153.0
13851            2583077.0    188395.0    188395.0   2089807.0   1926597.0
14685            3625865.0   9765458.0   2476527.0   1927238.0   4691607.0
14757            2563363.0   6268181.0   1474959.0   8460299.0   1040334.0
15114            2466013.0   7064738.0   7063375.0  12407710.0   4173879.0
15195            9916576.0  10069486.0  11426762.0  11557841.0    979922.0
17068            7386561.0  12101505.0  11341806.0  11948261.0   4578167.0
17141           10424369.0   2211474.0   5137224.0    807187.0    807187.0
...                    ...         ...         ...         ...         ...
13008196        11422157.0   8820011.0  11422157.0  11422157.0  11422157.0
13024265         5820727.0  12303807.0  11730821.0   7806166.0   3920932.0
13024323         9958307.0  10224561.0   5285377.0  11078733.0    508272.0
13024369        10677730.0   8225052.0   9885717.0   9885717.0  10130173.0
13025072         2241981.0   7829553.0  11528914.0  10161164.0  10161164.0
13025986         7548364.0   7548364.0  11716597.0  10252830.0   5739415.0
13026568         6195597.0   6195597.0   6195597.0   6195597.0   6195597.0
13027356         7550184.0   9478701.0   7027025.0  12631443.0   9478701.0
13027430         5181424.0   2822821.0    862201.0   5867257.0   2822821.0
13028759         2092745.0  11198066.0   3612060.0   2006166.0    669545.0
13028937         6408695.0   3092992.0   1509553.0   6278237.0   6278237.0
13028976         9326463.0   5516858.0   1982301.0   5857431.0   1290259.0
13029399         8547587.0   8547587.0   8547587.0   8547587.0   8547587.0
13029522        10047489.0   7642328.0  12915569.0   1948215.0   5738940.0
13029742         4629356.0   6462197.0   2236345.0   1006260.0   5650268.0
13029924        10952271.0   4886901.0  11672262.0  11977196.0   1563814.0
13029976         3121849.0   3121849.0    347955.0   3121849.0   2989407.0
13030926         2742001.0   6677984.0   6677984.0   2742001.0   5056744.0
13032038         6455563.0   1042927.0    779820.0   3760021.0   6495186.0
13034116         1422506.0   9507238.0   4597001.0   1750657.0  10815434.0
13035742         2766726.0   2766726.0   2766726.0   2766726.0   2766726.0
13037285         5311193.0   4424159.0   3619538.0   4160229.0  11216403.0
13037296         6586041.0   8457004.0   8755974.0   8457004.0   8755974.0
13038422        10622510.0  10622510.0  10622510.0  10622510.0  10622510.0
13039625         6199491.0   6371563.0   6371563.0   6371563.0    335237.0
13041046         4465563.0   4433564.0   6466730.0    173060.0    173140.0
13041581         7168968.0   9669996.0   9669996.0  10159313.0   7027641.0
13044048         9052525.0  11680535.0  11680535.0     63066.0   2447752.0
13046354        10391871.0   7945295.0   7100322.0   9556217.0   9776214.0
13046601         5619538.0   5619538.0   5619538.0   5619538.0   5619538.0

                                                                            \
irank                   7           8           9           10          11
buyer_admin_id
152              8064216.0   8351840.0         NaN         NaN         NaN
282               623582.0   6547607.0   2605373.0    688799.0    623582.0
321              5000759.0  11774753.0  10932288.0   4813286.0   9816501.0
809              5707010.0   5492003.0   1207574.0   2262443.0         NaN
870              5546383.0   3432696.0   9589237.0   6163411.0   8952725.0
2410             3010258.0   8829154.0  11536411.0   6594315.0  12182628.0
2956             9105860.0   1866761.0   7644819.0   1284838.0    745619.0
3866            12222697.0  12222697.0   9796213.0  10241163.0   6240908.0
7277            11550594.0   2354126.0  12543036.0  11977450.0  12226234.0
7944             4280956.0   9089404.0   6884658.0   6795431.0   4280956.0
8192             9846407.0   3132866.0    250407.0   9631903.0   2972034.0
8408              665359.0  13035792.0   4502347.0  10242192.0         NaN
8464             4157502.0   2076583.0   4157502.0   2093281.0   4589918.0
8637            11359278.0    251404.0         NaN         NaN         NaN
8760             7195147.0  11075083.0         NaN         NaN         NaN
9015             6268272.0   5300682.0         NaN         NaN         NaN
9035             2307115.0   1414382.0         NaN         NaN         NaN
9079             3964013.0   1274512.0   4403361.0  11733620.0   4229747.0
10146            1239063.0   1239063.0   3261925.0   5139229.0  10832838.0
10836            8094014.0   5162355.0    988711.0   5320360.0   1402358.0
11092            9802330.0   7580109.0   6452394.0    426384.0   9041374.0
12072            8297580.0  11290885.0   9485505.0         NaN         NaN
13571             495494.0   1741609.0         NaN         NaN         NaN
13851            1917001.0   1913880.0   2085920.0         NaN         NaN
14685            9888588.0   1874005.0         NaN         NaN         NaN
14757            4528851.0     25436.0   3475210.0   8869549.0         NaN
15114            7145390.0   6188539.0  10922386.0  10354543.0  10659439.0
15195            8768039.0   3335895.0   3991030.0   3216850.0   7826134.0
17068            4790754.0   5728775.0   4018668.0  10283527.0   1748774.0
17141            8889646.0   8889646.0   9354704.0    196193.0   4696797.0
...                    ...         ...         ...         ...         ...
13008196        11422157.0  10692087.0   8117410.0  11422157.0         NaN
13024265         7720538.0   9861363.0   8517264.0    766240.0   2733142.0
13024323          508272.0    508272.0         NaN         NaN         NaN
13024369         3312405.0  11708409.0  11708409.0  11708409.0  11708409.0
13025072         7650488.0   3025084.0   9352298.0   2256656.0   9688536.0
13025986         9520867.0   2885471.0   7173733.0         NaN         NaN
13026568         6195597.0   6195597.0   8948627.0   1889299.0         NaN
13027356        12474522.0   7027025.0   6071521.0   8856789.0  11745725.0
13027430           61817.0    228559.0  11277872.0  10664121.0   1666832.0
13028759         6418543.0  11550263.0  11585585.0  10462842.0  10462842.0
13028937         7805265.0   2744603.0         NaN         NaN         NaN
13028976        10602651.0   4852733.0  10602651.0   8777086.0   6504380.0
13029399         8547587.0   8547587.0   8547587.0   8547587.0   8547587.0
13029522         9711211.0   4350575.0   1948215.0   4350575.0  10426966.0
13029742         1205870.0  11857149.0   3500888.0   8768979.0  10468169.0
13029924         5823501.0   4886901.0   8421677.0  12999448.0  11739293.0
13029976          347955.0   3121849.0   2488092.0   1222225.0    941515.0
13030926         9014194.0  10126333.0   6677984.0    945275.0   9014194.0
13032038         3903709.0  10121545.0   9520329.0   8433918.0   7984550.0
13034116        10782889.0   5017824.0   4597001.0   2368605.0   4597001.0
13035742         2766726.0   2766726.0         NaN         NaN         NaN
13037285         4708788.0   5338822.0   6281579.0   4424159.0   4048876.0
13037296         8755974.0   6121134.0   6586041.0   8457004.0   6586041.0
13038422        10622510.0  10622510.0  10622510.0  10622510.0  10622510.0
13039625         9009201.0   6662644.0   4522369.0   6662644.0   2643626.0
13041046         4987070.0  10811396.0  11922313.0  12379158.0  10226388.0
13041581         5447793.0   5447793.0   6491935.0   6491935.0   9845944.0
13044048        11680535.0  11124939.0   9052525.0         NaN         NaN
13046354        12400852.0  12569394.0         NaN         NaN         NaN
13046601         5619538.0   5619538.0   5619538.0   5619538.0   5619538.0

                ...                                                  \
irank           ...          22          23          24          25
buyer_admin_id  ...
152             ...         NaN         NaN         NaN         NaN
282             ...         NaN         NaN         NaN         NaN
321             ...         NaN         NaN         NaN         NaN
809             ...         NaN         NaN         NaN         NaN
870             ...         NaN         NaN         NaN         NaN
2410            ...  11573165.0   3475210.0   2843593.0    904577.0
2956            ...         NaN         NaN         NaN         NaN
3866            ...   4428979.0   2275245.0   6600260.0  12553122.0
7277            ...         NaN         NaN         NaN         NaN
7944            ...         NaN         NaN         NaN         NaN
8192            ...   8957171.0   6208283.0         NaN         NaN
8408            ...         NaN         NaN         NaN         NaN
8464            ...   8994530.0   8673091.0  11055796.0    115517.0
8637            ...         NaN         NaN         NaN         NaN
8760            ...         NaN         NaN         NaN         NaN
9015            ...         NaN         NaN         NaN         NaN
9035            ...         NaN         NaN         NaN         NaN
9079            ...         NaN         NaN         NaN         NaN
10146           ...         NaN         NaN         NaN         NaN
10836           ...         NaN         NaN         NaN         NaN
11092           ...         NaN         NaN         NaN         NaN
12072           ...         NaN         NaN         NaN         NaN
13571           ...         NaN         NaN         NaN         NaN
13851           ...         NaN         NaN         NaN         NaN
14685           ...         NaN         NaN         NaN         NaN
14757           ...         NaN         NaN         NaN         NaN
15114           ...         NaN         NaN         NaN         NaN
15195           ...         NaN         NaN         NaN         NaN
17068           ...         NaN         NaN         NaN         NaN
17141           ...   9811248.0   5221582.0   1155126.0         NaN
...             ...         ...         ...         ...         ...
13008196        ...         NaN         NaN         NaN         NaN
13024265        ...         NaN         NaN         NaN         NaN
13024323        ...         NaN         NaN         NaN         NaN
13024369        ...         NaN         NaN         NaN         NaN
13025072        ...         NaN         NaN         NaN         NaN
13025986        ...         NaN         NaN         NaN         NaN
13026568        ...         NaN         NaN         NaN         NaN
13027356        ...         NaN         NaN         NaN         NaN
13027430        ...         NaN         NaN         NaN         NaN
13028759        ...         NaN         NaN         NaN         NaN
13028937        ...         NaN         NaN         NaN         NaN
13028976        ...         NaN         NaN         NaN         NaN
13029399        ...         NaN         NaN         NaN         NaN
13029522        ...         NaN         NaN         NaN         NaN
13029742        ...  10400954.0   2279331.0   5175546.0   6416591.0
13029924        ...         NaN         NaN         NaN         NaN
13029976        ...         NaN         NaN         NaN         NaN
13030926        ...         NaN         NaN         NaN         NaN
13032038        ...  10645315.0         NaN         NaN         NaN
13034116        ...         NaN         NaN         NaN         NaN
13035742        ...         NaN         NaN         NaN         NaN
13037285        ...         NaN         NaN         NaN         NaN
13037296        ...         NaN         NaN         NaN         NaN
13038422        ...  10622510.0  10622510.0  10622510.0  10622510.0
13039625        ...   7249331.0   7249331.0   1221648.0   5477019.0
13041046        ...         NaN         NaN         NaN         NaN
13041581        ...         NaN         NaN         NaN         NaN
13044048        ...         NaN         NaN         NaN         NaN
13046354        ...         NaN         NaN         NaN         NaN
13046601        ...   5619538.0   5619538.0   5619538.0   5619538.0

                                                                           \
irank                   26          27          28          29         30
buyer_admin_id
152                    NaN         NaN         NaN         NaN        NaN
282                    NaN         NaN         NaN         NaN        NaN
321                    NaN         NaN         NaN         NaN        NaN
809                    NaN         NaN         NaN         NaN        NaN
870                    NaN         NaN         NaN         NaN        NaN
2410                   NaN         NaN         NaN         NaN        NaN
2956                   NaN         NaN         NaN         NaN        NaN
3866             1429449.0  12215314.0   1429449.0   1290204.0  9759810.0
7277                   NaN         NaN         NaN         NaN        NaN
7944                   NaN         NaN         NaN         NaN        NaN
8192                   NaN         NaN         NaN         NaN        NaN
8408                   NaN         NaN         NaN         NaN        NaN
8464            10322913.0  10322913.0  10322913.0   4569637.0  4569637.0
8637                   NaN         NaN         NaN         NaN        NaN
8760                   NaN         NaN         NaN         NaN        NaN
9015                   NaN         NaN         NaN         NaN        NaN
9035                   NaN         NaN         NaN         NaN        NaN
9079                   NaN         NaN         NaN         NaN        NaN
10146                  NaN         NaN         NaN         NaN        NaN
10836                  NaN         NaN         NaN         NaN        NaN
11092                  NaN         NaN         NaN         NaN        NaN
12072                  NaN         NaN         NaN         NaN        NaN
13571                  NaN         NaN         NaN         NaN        NaN
13851                  NaN         NaN         NaN         NaN        NaN
14685                  NaN         NaN         NaN         NaN        NaN
14757                  NaN         NaN         NaN         NaN        NaN
15114                  NaN         NaN         NaN         NaN        NaN
15195                  NaN         NaN         NaN         NaN        NaN
17068                  NaN         NaN         NaN         NaN        NaN
17141                  NaN         NaN         NaN         NaN        NaN
...                    ...         ...         ...         ...        ...
13008196               NaN         NaN         NaN         NaN        NaN
13024265               NaN         NaN         NaN         NaN        NaN
13024323               NaN         NaN         NaN         NaN        NaN
13024369               NaN         NaN         NaN         NaN        NaN
13025072               NaN         NaN         NaN         NaN        NaN
13025986               NaN         NaN         NaN         NaN        NaN
13026568               NaN         NaN         NaN         NaN        NaN
13027356               NaN         NaN         NaN         NaN        NaN
13027430               NaN         NaN         NaN         NaN        NaN
13028759               NaN         NaN         NaN         NaN        NaN
13028937               NaN         NaN         NaN         NaN        NaN
13028976               NaN         NaN         NaN         NaN        NaN
13029399               NaN         NaN         NaN         NaN        NaN
13029522               NaN         NaN         NaN         NaN        NaN
13029742         8672274.0   6593386.0   8696622.0  10063876.0  4752350.0
13029924               NaN         NaN         NaN         NaN        NaN
13029976               NaN         NaN         NaN         NaN        NaN
13030926               NaN         NaN         NaN         NaN        NaN
13032038               NaN         NaN         NaN         NaN        NaN
13034116               NaN         NaN         NaN         NaN        NaN
13035742               NaN         NaN         NaN         NaN        NaN
13037285               NaN         NaN         NaN         NaN        NaN
13037296               NaN         NaN         NaN         NaN        NaN
13038422        10622510.0         NaN         NaN         NaN        NaN
13039625         2643626.0   2643626.0         NaN         NaN        NaN
13041046               NaN         NaN         NaN         NaN        NaN
13041581               NaN         NaN         NaN         NaN        NaN
13044048               NaN         NaN         NaN         NaN        NaN
13046354               NaN         NaN         NaN         NaN        NaN
13046601         5619538.0   5619538.0   5619538.0   5619538.0  5619538.0


irank                  31
buyer_admin_id
152                   NaN
282                   NaN
321                   NaN
809                   NaN
870                   NaN
2410                  NaN
2956                  NaN
3866             447451.0
7277                  NaN
7944                  NaN
8192                  NaN
8408                  NaN
8464            4569637.0
8637                  NaN
8760                  NaN
9015                  NaN
9035                  NaN
9079                  NaN
10146                 NaN
10836                 NaN
11092                 NaN
12072                 NaN
13571                 NaN
13851                 NaN
14685                 NaN
14757                 NaN
15114                 NaN
15195                 NaN
17068                 NaN
17141                 NaN
...                   ...
13008196              NaN
13024265              NaN
13024323              NaN
13024369              NaN
13025072              NaN
13025986              NaN
13026568              NaN
13027356              NaN
13027430              NaN
13028759              NaN
13028937              NaN
13028976              NaN
13029399              NaN
13029522              NaN
13029742        9941150.0
13029924              NaN
13029976              NaN
13030926              NaN
13032038              NaN
13034116              NaN
13035742              NaN
13037285              NaN
13037296              NaN
13038422              NaN
13039625              NaN
13041046              NaN

In [12]:
rec_result.sample(n=5)

                   item_id                                                \
irank                   2           3           4          5          6
buyer_admin_id
251708           4704190.0   1922900.0   1176209.0  5131466.0   619545.0
2044466          4806357.0   1638371.0   1066551.0  8154957.0  5023029.0
542822           9367739.0   6432831.0   6440011.0  6306273.0  4818280.0
484080           9633662.0  10182917.0   1892553.0  1833860.0  3186415.0
289444          11778830.0   3612060.0  11778830.0  8752998.0  5606158.0

                                                                           \
irank                   7           8           9           10         11
buyer_admin_id
251708           4704190.0   3758541.0   2005228.0    276546.0  4704190.0
2044466          4406887.0   4406887.0  11472682.0         NaN        NaN
542822           6779319.0   6779319.0    424968.0   1315329.0  2656800.0
484080           9800136.0   8810988.0   9633662.0    290692.0  1736549.0
289444          10295528.0  10821236.0   4739832.0  11264540.0        NaN

                ...
irank           ...  22  23  24  25  26  27  28  29  30  31
buyer_admin_id  ...
251708          ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2044466         ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
542822          ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
484080          ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
289444          ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[5 rows x 30 columns]

In [14]:
tmp[tmp['buyer_admin_id']==542822]

        buyer_admin_id  item_id  irank
128886          542822  9367739      2
114065          542822  6432831      3
76615           542822  6440011      4
63788           542822  6306273      5
54015           542822  4818280      6
27834           542822  6779319      7
27835           542822  6779319      8
24392           542822   424968      9
23561           542822  1315329     10
6696            542822  2656800     11
6559            542822  4912060     12

In [21]:
test_df[test_df['buyer_admin_id']==1144848]

       buyer_country_id  buyer_admin_id   item_id    create_order_time  irank
6285                 yy         1144848   3839757  2018-08-03 05:15:56    278
6286                 yy         1144848   2750137  2018-08-03 05:15:56    286
6287                 yy         1144848   2750137  2018-08-03 05:15:56    285
6288                 yy         1144848   2750137  2018-08-03 05:15:56    282
6289                 yy         1144848   3618286  2018-08-03 05:15:56    275
6290                 yy         1144848   7373307  2018-08-03 05:15:56    287
6291                 yy         1144848   7373307  2018-08-03 05:15:56    281
6292                 yy         1144848   4103123  2018-08-03 05:15:56    277
6293                 yy         1144848   6373772  2018-08-03 05:15:56    280
6294                 yy         1144848   6434777  2018-08-03 05:15:56    283
6295                 yy         1144848   6373772  2018-08-03 05:15:56    279
6296                 yy         1144848   6373772  2018-08-03 05:15:56    284
6297                 yy         1144848   3839757  2018-08-03 05:15:56    276
12631                yy         1144848   2057822  2018-08-04 14:41:43    274
12644                yy         1144848   1259661  2018-08-04 14:46:47    273
14140                yy         1144848  12095272  2018-08-05 03:21:23    263
14141                yy         1144848  12303657  2018-08-05 03:21:23    260
14142                yy         1144848  12095272  2018-08-05 03:21:23    266
14143                yy         1144848  12095272  2018-08-05 03:21:23    256
14144                yy         1144848  12095272  2018-08-05 03:21:23    257
14145                yy         1144848  12095272  2018-08-05 03:21:23    259
14146                yy         1144848  12095272  2018-08-05 03:21:23    268
14147                yy         1144848   4294658  2018-08-05 03:21:23    270
14148                yy         1144848  12303657  2018-08-05 03:21:23    272
14149                yy         1144848  12095272  2018-08-05 03:21:23    264
14150                yy         1144848  12303657  2018-08-05 03:21:23    261
14151                yy         1144848  12303657  2018-08-05 03:21:23    267
14152                yy         1144848   4636978  2018-08-05 03:21:23    262
14153                yy         1144848   4636978  2018-08-05 03:21:23    265
14154                yy         1144848   4636978  2018-08-05 03:21:23    258
...                 ...             ...       ...                  ...    ...
86579                yy         1144848   5608721  2018-08-21 02:45:27     27
86580                yy         1144848   5608721  2018-08-21 02:45:27     33
86581                yy         1144848   4490649  2018-08-21 02:45:27     34
86582                yy         1144848   7056762  2018-08-21 02:45:27     36
86583                yy         1144848   9235998  2018-08-21 02:45:27     28
86584                yy         1144848   4490649  2018-08-21 02:45:27     37
86585                yy         1144848   4365711  2018-08-21 02:45:27     29
141987               yy         1144848   3935043  2018-08-29 08:58:59     24
141988               yy         1144848   3935043  2018-08-29 08:58:59     23
155035               yy         1144848   4282701  2018-08-30 21:06:44     21
155036               yy         1144848   4282701  2018-08-30 21:06:44     22
155048               yy         1144848   9286246  2018-08-30 21:17:27     15
155049               yy         1144848   4490649  2018-08-30 21:17:27      2
155050               yy         1144848   4490649  2018-08-30 21:17:27      3
155051               yy         1144848   4490649  2018-08-30 21:17:27     19
155052               yy         1144848   4717893  2018-08-30 21:17:27     10
155053               yy         1144848   4490649  2018-08-30 21:17:27      5
155054               yy         1144848   4365711  2018-08-30 21:17:27     20
155055               yy         1144848   4365711  2018-08-30 21:17:27      7
155056               yy         1144848   4623662  2018-08-30 21:17:27     16
155057               yy         1144848  11851207  2018-08-30 21:17:27     17
155058               yy         1144848   4717893  2018-08-30 21:17:27      9
155059               yy         1144848  11851207  2018-08-30 21:17:27      6
155060               yy         1144848   4717893  2018-08-30 21:17:27      4
155061               yy         1144848   4717893  2018-08-30 21:17:27     12
155062               yy         1144848  11851207  2018-08-30 21:17:27      8
155063               yy         1144848   4717893  2018-08-30 21:17:27     11
155064               yy         1144848  11851207  2018-08-30 21:17:27     13
155065               yy         1144848  11851207  2018-08-30 21:17:27     14
155066               yy         1144848   4490649  2018-08-30 21:17:27     18

[286 rows x 5 columns]

In [22]:
pd.DataFrame(test_df.groupby(['buyer_admin_id','item_id']).size(),columns=['cnt']).sort_values('cnt',ascending=False)

                         cnt
buyer_admin_id item_id
2041038        5595070   963
2070430        5595070   395
2041038        7673354   289
               8970262    75
12858772       3530835    66
12920349       4416604    56
1698661        12221980   37
1951389        11680535   36
687050         8440790    34
958122         9411715    33
1534954        4838721    30
13046601       5619538    30
1542915        13027834   29
78951          10104308   29
12647969       11029902   29
1939753        12477739   28
1178938        10852273   28
1706703        3866632    28
               3227771    28
1968235        5786506    27
12438854       9168688    26
12816552       8862078    25
13038422       10622510   25
311282         7586677    25
2397858        11088820   25
12901309       8000889    23
1821359        12653622   23
1913825        12080570   23
1125057        6422560    22
838428         12593671   22
...                      ...
925945         8945671     1
               10130304    1
               10438251    1
               10537694    1
927405         5291009     1
               2668792     1
               720522      1
927203         12180517    1
               9997933     1
               8198975     1
               5981611     1
               4852387     1
               4035511     1
               4029930     1
               3860632     1
               1524795     1
               433563      1
927138         11412902    1
               8377411     1
               7561694     1
               7124818     1
               7105071     1
               4193589     1
               3476198     1
               1902548     1
               507318      1
926355         11306656    1
               10688188    1
               7666300     1
1243564        1999789     1

[131558 rows x 1 columns]

In [17]:
pd.DataFrame(test_df.groupby('buyer_admin_id').size(),columns=['cnt']).sort_values('cnt',ascending=False)

                 cnt
buyer_admin_id
2041038         1386
2070430          399
1144848          286
1910747          245
1939753          235
356572           229
1377477          207
1972619          200
482970           184
782741           184
1707655          174
421895           156
1117698          154
1333397          148
1058541          143
1394304          138
12923167         134
2304346          129
851587           128
1125057          126
1518496          125
1113787          122
2136465          119
527108           115
568904           113
78951            112
1470695          111
2210351          111
687050           110
365784           109
...              ...
377060             7
2111147            7
378323             7
1594761            7
1594778            7
1594939            7
830295             7
829329             7
1595432            7
829089             7
828606             7
1596493            7
380220             7
380767             7
1603864            7
825708             7
824576             7
381778             7
823818             7
2107701            7
2107693            7
1599999            7
381998             7
820645             7
819277             7
1600418            7
1602013            7
816868             7
382863             7
152                7

[11398 rows x 1 columns]

In [31]:
result_df[result_df['buyer_admin_id']==13029399]

      buyer_admin_id rec_items  len
1923        13029399        []    0

In [32]:
tmp[tmp['buyer_admin_id']==13029399]

        buyer_admin_id  item_id  irank
104125        13029399  8547587      2
103514        13029399  8547587      3
103518        13029399  8547587      4
103520        13029399  8547587      5
103512        13029399  8547587      6
103513        13029399  8547587      7
103515        13029399  8547587      8
103517        13029399  8547587      9
103516        13029399  8547587     10
103511        13029399  8547587     11
103510        13029399  8547587     12
103519        13029399  8547587     13
6622          13029399  9301834     14

# 组合候选集

In [33]:
import numpy as np



result = []

hot_lst = hot_item_10[:3].index.values.tolist()
for idx,obj in rec_result.iterrows():
    lst = [int(x) for x in obj.values.tolist() if str(x) != 'nan']
    new_lst = list(set(lst))
    new_lst.sort(key=lst.index)
    usercf_lst = result_df[result_df['buyer_admin_id']==idx]['rec_items'].values.tolist()[0]
    rec_set = new_lst+hot_lst+usercf_lst
#     print(rec_set)
    new_rec_set = list(set(rec_set))
    new_rec_set.sort(key=rec_set.index)
    
    if len(new_rec_set)<30:
        new_rec_set = new_rec_set+hot_item_10[3:].index.values.tolist()
    result.append([idx]+new_rec_set)
    
result = pd.DataFrame(result)
result

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,152,8410857,7937154,8472223,4016066,9891513,8064216,8351840,11717821,11140901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,282,11721802,7665423,10808393,11310708,623582,6547607,2605373,688799,10517456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,321,1461800,7379845,9243286,627849,5000759,11774753,10932288,4813286,9816501,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,809,2347616,5707010,6339286,5492003,1207574,2262443,11717821,11140901,5595070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,870,11382694,5999244,6611583,7412272,4343647,5546383,3432696,9589237,6163411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2410,1991652,3010258,8734237,5529566,12328639,8829154,11536411,6594315,12182628,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2956,7116759,8778275,5039457,5071633,9105860,1866761,7644819,1284838,745619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3866,3738221,8326767,3366910,9638971,12222697,9796213,10241163,6240908,12035835,...,7967982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7277,11977450,8343022,10813894,11826481,465594,11550594,2354126,12543036,12226234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7944,10039927,11659460,7598016,9607731,9555054,4280956,9089404,6884658,6795431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,8192,1306627,4538161,9715746,6857974,9846407,3132866,250407,9631903,2972034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,8408,9988978,4244544,665393,1195177,1192063,665359,13035792,4502347,10242192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,8464,70466,2914396,2686621,2094230,4157502,2076583,2093281,4589918,8941084,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8637,5639030,8910564,5703905,7334003,8693860,11359278,251404,11717821,11140901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,8760,5813336,8940662,11075083,4184067,7195147,11717821,11140901,5595070,596269,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,9015,3703072,2775264,18284,924117,1222930,6268272,5300682,11717821,11140901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,9035,5831736,1527698,7432186,8260171,2307115,1414382,11717821,11140901,5595070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,9079,153030,7886311,2203597,4376203,2341287,3964013,1274512,4403361,11733620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10146,1239063,11493702,3261925,5139229,10832838,2856736,3057411,11717821,11140901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,10836,4218750,59243,4945981,764094,336653,8094014,5162355,988711,5320360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,11092,6017984,8057645,2969882,8545184,519838,9802330,7580109,6452394,426384,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,12072,1434548,10318396,3261925,6029609,5145720,8297580,11290885,9485505,11717821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,13571,2368260,488153,6680629,450460,495494,1741609,11717821,11140901,5595070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,13851,2583077,188395,2089807,1926597,1917001,1913880,2085920,11717821,11140901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,14685,3625865,9765458,2476527,1927238,4691607,9888588,1874005,11717821,11140901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,14757,2563363,6268181,1474959,8460299,1040334,4528851,25436,3475210,8869549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,15114,2466013,7064738,7063375,12407710,4173879,7145390,6188539,10922386,10354543,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,15195,9916576,10069486,11426762,11557841,979922,8768039,3335895,3991030,3216850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,17068,7386561,12101505,11341806,11948261,4578167,4790754,5728775,4018668,10283527,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,17141,10424369,2211474,5137224,807187,8889646,9354704,196193,4696797,11689271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11368,13008196,11422157,8820011,10692087,8117410,11717821,11140901,5595070,5064136,250082,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11369,13024265,5820727,12303807,11730821,7806166,3920932,7720538,9861363,8517264,766240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11370,13024323,9958307,10224561,5285377,11078733,508272,11717821,11140901,5595070,351108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11371,13024369,10677730,8225052,9885717,10130173,3312405,11708409,9838377,13001397,7828425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11372,13025072,2241981,7829553,11528914,10161164,7650488,3025084,9352298,2256656,9688536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11373,13025986,7548364,11716597,10252830,5739415,9520867,2885471,7173733,11717821,11140901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11374,13026568,6195597,8948627,1889299,11717821,11140901,5595070,2492173,4469897,5613216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11375,13027356,7550184,9478701,7027025,12631443,12474522,6071521,8856789,11745725,11717821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11376,13027430,5181424,2822821,862201,5867257,61817,228559,11277872,10664121,1666832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11377,13028759,2092745,11198066,3612060,2006166,669545,6418543,11550263,11585585,10462842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11378,13028937,6408695,3092992,1509553,6278237,7805265,2744603,11717821,11140901,5595070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11379,13028976,9326463,5516858,1982301,5857431,1290259,10602651,4852733,8777086,6504380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11380,13029399,8547587,9301834,11717821,11140901,5595070,11680535,2850195,3227771,10389160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11381,13029522,10047489,7642328,12915569,1948215,5738940,9711211,4350575,10426966,9149733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11382,13029742,4629356,6462197,2236345,1006260,5650268,1205870,11857149,3500888,8768979,...,4744589.0,5205284.0,6283922.0,26551.0,112389.0,828172.0,NaN,NaN,NaN,NaN
11383,13029924,10952271,4886901,11672262,11977196,1563814,5823501,8421677,12999448,11739293,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11384,13029976,3121849,347955,2989407,2488092,1222225,941515,2524958,1396531,11717821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11385,13030926,2742001,6677984,5056744,9014194,10126333,945275,10196667,11717821,11140901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11386,13032038,6455563,1042927,779820,3760021,6495186,3903709,10121545,9520329,8433918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11387,13034116,1422506,9507238,4597001,1750657,10815434,10782889,5017824,2368605,7501267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11388,13035742,2766726,11717821,11140901,5595070,11680535,2850195,3227771,10389160,10617258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11389,13037285,5311193,4424159,3619538,4160229,11216403,4708788,5338822,6281579,4048876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11390,13037296,6586041,8457004,8755974,6121134,8532333,11717821,11140901,5595070,8946537,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11391,13038422,10622510,11717821,11140901,5595070,5971301,6213091,6981283,7443760,7595688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11392,13039625,6199491,6371563,335237,9009201,6662644,4522369,2643626,2511046,5477019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11393,13041046,4465563,4433564,6466730,173060,173140,4987070,10811396,11922313,12379158,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11394,13041581,7168968,9669996,10159313,7027641,5447793,6491935,9845944,1620994,12418021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11395,13044048,9052525,11680535,63066,2447752,11124939,11717821,11140901,5595070,12269200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11396,13046354,10391871,7945295,7100322,9556217,9776214,12400852,12569394,11717821,11140901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11397,13046601,5619538,11717821,11140901,5595070,144950,468123,1103424,1555188,1924080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
result.iloc[:,:31].fillna('11680535').astype(int).to_csv('../data/f_3.csv',index=None,header=False)

In [5]:
import sys
import random
import math
import os
from operator import itemgetter

from collections import defaultdict

random.seed(0)

class UserBasedCF(object):
    ''' TopN recommendation - User Based Collaborative Filtering '''

    # 构造函数，用来初始化
    def __init__(self):
        # 定义 训练集 测试集 为字典类型
        self.trainset = {}
        self.testset = {}
        # 训练集用的相似用户数
        self.n_sim_user = 10
        # 推荐Item数量
        self.n_rec_item = 30

        self.user_sim_mat = {}
        self.item_popular = {}
        self.item_count = 0
        # sys.stderr 是用来重定向标准错误信息的
        print ('相似用户数目为  %d' % self.n_sim_user, file=sys.stderr)
        print ('推荐Item数目为  %d' %
               self.n_rec_item, file=sys.stderr)

    # 划分训练集和测试集 pivot用来定义训练集和测试集的比例
    def generate_dataset(self, train, test=None, pivot=1):
        ''' load rating data and split it to training set and test set '''
        trainset_len = 0
        testset_len = 0
        if test is None:# 随机分配验证机实验 
            print('算法尝试！')
            for line in train.iterrows():
                user, item, rating = line[1][0],line[1][1],1
                # split the data by pivot
                if random.random() < pivot:
                    self.trainset.setdefault(user, {})
                    self.trainset[user][item] = int(rating)
                    trainset_len += 1
                else:
                    self.testset.setdefault(user, {})
                    self.testset[user][item] = int(rating)
                    testset_len += 1
        else:#真正预测
            print('预测尝试！')
            for line in train.iterrows():
                user, item, rating = line[1][0],line[1][1],1
                # split the data by pivot
                self.trainset.setdefault(user, {})
                self.trainset[user][item] = int(rating)
                trainset_len += 1
            del user,item,rating
            for line in test.iterrows():
                user, item, rating = line[1][0],line[1][1],1
                self.testset.setdefault(user, {})
                self.testset[user][item] = int(rating)
                testset_len += 1
        print ('split training set and test set succ')
        print ('train set = %s' % trainset_len)
        print ('test set = %s' % testset_len)
        
    # 建立物品-用户 倒排表
    def calc_user_sim(self):
        ''' calculate user similarity matrix '''
        # build inverse table for item-users
        # key=itemID, value=list of userIDs who have seen this item
        print ('构建物品-用户倒排表中，请等待......')
        item2users = dict()

        for user, items in self.trainset.items():
            for item in items:
                # inverse table for item-users
                if item not in item2users:
                    # 根据商品id 构造set() 函数创建一个无序不重复元素集
                    item2users[item] = set()
                item2users[item].add(user)
                # 记录电影的流行度
                if item not in self.item_popular:
                    self.item_popular[item] = 0
                self.item_popular[item] += 1
        print ('构建物品-用户倒排表成功', file=sys.stderr)

        # save the total item number, which will be used in evaluation
        self.item_count = len(item2users)
        print ('总共被操作过的物品数目为  %d' % self.item_count, file=sys.stderr)

        # count co-rated items between users
        usersim_mat = self.user_sim_mat

        print ('building user co-rated items matrix...', file=sys.stderr)
        # 令系数矩阵 C[u][v]表示N(u)∩N（v) ，假如用户u和用户v同时属于K个物品对应的用户列表，就有C[u][v]=K
        for item, users in item2users.items():
            for u in users:
                usersim_mat.setdefault(u, defaultdict(int))
                for v in users:
                    if u == v:
                        continue
                    usersim_mat[u][v] += 1
        print ('build user co-rated items matrix succ', file=sys.stderr)

        # calculate similarity matrix
        print ('calculating user similarity matrix...', file=sys.stderr)
        simfactor_count = 0
        PRINT_STEP = 2000000
        # 循环遍历usersim_mat 根据余弦相似度公式计算出用户兴趣相似度
        for u, related_users in usersim_mat.items():
            for v, count in related_users.items():
                # 以下是公式计算过程
                usersim_mat[u][v] = count / math.sqrt(
                    len(self.trainset[u]) * len(self.trainset[v]))
                #计数 并没有什么卵用
                simfactor_count += 1
                if simfactor_count % PRINT_STEP == 0:
                    print ('calculating user similarity factor(%d)' %
                           simfactor_count, file=sys.stderr)

        print ('calculate user similarity matrix(similarity factor) succ',
               file=sys.stderr)
        print ('Total similarity factor number = %d' %
               simfactor_count, file=sys.stderr)
        
    # 根据用户给予推荐结果
    def recommend(self, user, predict=False):
        '''定义给定K个相似用户和推荐N个商品'''
        K = self.n_sim_user
        N = self.n_rec_item
        # 定义一个字典来存储为用户推荐的电影
        rank = dict()
        
        watched_items = self.trainset[user]
        # sorted() 函数对所有可迭代的对象进行排序操作。 key 指定比较的对象 ，reverse=True 降序
        for similar_user, similarity_factor in sorted(self.user_sim_mat[user].items(),
                                                      key=itemgetter(1), reverse=True)[0:K]:
            for item in self.trainset[similar_user]:
                rank.setdefault(item, 0)
                rank[item] += similarity_factor
        # return the N best items
        return sorted(rank.items(), key=itemgetter(1), reverse=True)[0:N]
    
    def predict(self):
        print('Predict start...')

        N = self.n_rec_item
        #  varables for precision and recall
        hit = 0
        rec_count = 0
        test_count = 0
        # varables for coverage
        all_rec_items = set()
        # varables for popularity
        popular_sum = 0
        predict_result=[]
        for i, user in enumerate(self.testset):
            if i % 500 == 0:
                print ('recommended for %d users' % i)
            rec_items = self.recommend(user,predict=True)
            predict_result.append((user,rec_items))
        print('Predict end...')
        return predict_result
    
    # 计算 准确略，召回率，覆盖率，流行度
    def evaluate(self):
        ''' print evaluation result: precision, recall, coverage and popularity '''
        print ('Evaluation start...', file=sys.stderr)

        N = self.n_rec_item
        #  varables for precision and recall
        #记录推荐正确的item数
        hit = 0
        #记录推荐item的总数
        rec_count = 0
        #记录测试数据中总数
        test_count = 0
        # varables for coverage
        all_rec_items = set()
        # varables for popularity
        popular_sum = 0

        for i, user in enumerate(self.trainset):
            if i % 500 == 0:
                print ('recommended for %d users' % i, file=sys.stderr)
            test_items = self.testset.get(user, {})
            rec_items = self.recommend(user,predict=False)
            for item, _ in rec_items:
                if item in test_items:
                    hit += 1
                all_rec_items.add(item)
                popular_sum += math.log(1 + self.item_popular[item])
            rec_count += N
            test_count += len(test_items)
        # 计算准确度
        precision = hit / (1.0 * rec_count)
        # 计算召回率
        recall = hit / (1.0 * test_count)
        # 计算覆盖率
        coverage = len(all_rec_items) / (1.0 * self.item_count)
        #计算流行度
        popularity = popular_sum / (1.0 * rec_count)

        print ('precision=%.4f\trecall=%.4f\tcoverage=%.4f\tpopularity=%.4f' %
               (precision, recall, coverage, popularity), file=sys.stderr)

In [6]:
import sys
import random
import math
import os
from operator import itemgetter

from collections import defaultdict

random.seed(0)

class ItemBasedCF(object):
    ''' TopN recommendation - Item Based Collaborative Filtering '''

    # 构造函数，用来初始化
    def __init__(self):
        # 定义 训练集 测试集 为字典类型
        self.trainset = {}
        self.testset = {}
        # 训练集用的相似用户数
        self.n_sim_user = 10
        # 推荐Item数量
        self.n_rec_item = 30

        self.user_sim_mat = {}
        self.item_popular = {}
        self.item_count = 0
        # sys.stderr 是用来重定向标准错误信息的
        print ('相似Item数目为  %d' % self.n_sim_user, file=sys.stderr)
        print ('推荐User数目为  %d' %
               self.n_rec_item, file=sys.stderr)

    # 划分训练集和测试集 pivot用来定义训练集和测试集的比例
    def generate_dataset(self, train, test=None, pivot=1):
        ''' load rating data and split it to training set and test set '''
        trainset_len = 0
        testset_len = 0
        if test is None:# 随机分配验证机实验 
            print('算法尝试！')
            for line in train.iterrows():
                user, item, rating = line[1][0],line[1][1],1
                # split the data by pivot
                if random.random() < pivot:
                    self.trainset.setdefault(user, {})
                    self.trainset[user][item] = int(rating)
                    trainset_len += 1
                else:
                    self.testset.setdefault(user, {})
                    self.testset[user][item] = int(rating)
                    testset_len += 1
        else:#真正预测
            print('预测尝试！')
            for line in train.iterrows():
                user, item, rating = line[1][0],line[1][1],1
                # split the data by pivot
                self.trainset.setdefault(user, {})
                self.trainset[user][item] = int(rating)
                trainset_len += 1
            del user,item,rating
            for line in test.iterrows():
                user, item, rating = line[1][0],line[1][1],1
                self.testset.setdefault(user, {})
                self.testset[user][item] = int(rating)
                testset_len += 1
        print ('split training set and test set succ')
        print ('train set = %s' % trainset_len)
        print ('test set = %s' % testset_len)
        
    # 建立物品-用户 倒排表
    def calc_user_sim(self):
        ''' calculate user similarity matrix '''
        # build inverse table for item-users
        # key=itemID, value=list of userIDs who have seen this item
        print ('构建物品-用户倒排表中，请等待......')
        item2users = dict()

        for user, items in self.trainset.items():
            for item in items:
                # inverse table for item-users
                if item not in item2users:
                    # 根据商品id 构造set() 函数创建一个无序不重复元素集
                    item2users[item] = set()
                item2users[item].add(user)
                # 记录电影的流行度
                if item not in self.item_popular:
                    self.item_popular[item] = 0
                self.item_popular[item] += 1
        print ('构建物品-用户倒排表成功', file=sys.stderr)

        # save the total item number, which will be used in evaluation
        self.item_count = len(item2users)
        print ('总共被操作过的物品数目为  %d' % self.item_count, file=sys.stderr)

        # count co-rated items between users
        usersim_mat = self.user_sim_mat

        print ('building user co-rated items matrix...', file=sys.stderr)
        # 令系数矩阵 C[u][v]表示N(u)∩N（v) ，假如用户u和用户v同时属于K个物品对应的用户列表，就有C[u][v]=K
        for item, users in item2users.items():
            for u in users:
                usersim_mat.setdefault(u, defaultdict(int))
                for v in users:
                    if u == v:
                        continue
                    usersim_mat[u][v] += 1
        print ('build user co-rated items matrix succ', file=sys.stderr)

        # calculate similarity matrix
        print ('calculating user similarity matrix...', file=sys.stderr)
        simfactor_count = 0
        PRINT_STEP = 2000000
        # 循环遍历usersim_mat 根据余弦相似度公式计算出用户兴趣相似度
        for u, related_users in usersim_mat.items():
            for v, count in related_users.items():
                # 以下是公式计算过程
                usersim_mat[u][v] = count / math.sqrt(
                    len(self.trainset[u]) * len(self.trainset[v]))
                #计数 并没有什么卵用
                simfactor_count += 1
                if simfactor_count % PRINT_STEP == 0:
                    print ('calculating user similarity factor(%d)' %
                           simfactor_count, file=sys.stderr)

        print ('calculate user similarity matrix(similarity factor) succ',
               file=sys.stderr)
        print ('Total similarity factor number = %d' %
               simfactor_count, file=sys.stderr)
        
    # 根据用户给予推荐结果
    def recommend(self, user, predict=False):
        '''定义给定K个相似用户和推荐N个商品'''
        K = self.n_sim_user
        N = self.n_rec_item
        # 定义一个字典来存储为用户推荐的电影
        rank = dict()
        
        watched_items = self.trainset[user]
        # sorted() 函数对所有可迭代的对象进行排序操作。 key 指定比较的对象 ，reverse=True 降序
        for similar_user, similarity_factor in sorted(self.user_sim_mat[user].items(),
                                                      key=itemgetter(1), reverse=True)[0:K]:
            for item in self.trainset[similar_user]:
                rank.setdefault(item, 0)
                rank[item] += similarity_factor
        # return the N best items
        return sorted(rank.items(), key=itemgetter(1), reverse=True)[0:N]
    
    def predict(self):
        print('Predict start...')

        N = self.n_rec_item
        #  varables for precision and recall
        hit = 0
        rec_count = 0
        test_count = 0
        # varables for coverage
        all_rec_items = set()
        # varables for popularity
        popular_sum = 0
        predict_result=[]
        for i, user in enumerate(self.testset):
            if i % 500 == 0:
                print ('recommended for %d users' % i)
            rec_items = self.recommend(user,predict=True)
            predict_result.append((user,rec_items))
        print('Predict end...')
        return predict_result
    
    # 计算 准确略，召回率，覆盖率，流行度
    def evaluate(self):
        ''' print evaluation result: precision, recall, coverage and popularity '''
        print ('Evaluation start...', file=sys.stderr)

        N = self.n_rec_item
        #  varables for precision and recall
        #记录推荐正确的item数
        hit = 0
        #记录推荐item的总数
        rec_count = 0
        #记录测试数据中总数
        test_count = 0
        # varables for coverage
        all_rec_items = set()
        # varables for popularity
        popular_sum = 0

        for i, user in enumerate(self.trainset):
            if i % 500 == 0:
                print ('recommended for %d users' % i, file=sys.stderr)
            test_items = self.testset.get(user, {})
            rec_items = self.recommend(user,predict=False)
            for item, _ in rec_items:
                if item in test_items:
                    hit += 1
                all_rec_items.add(item)
                popular_sum += math.log(1 + self.item_popular[item])
            rec_count += N
            test_count += len(test_items)
        # 计算准确度
        precision = hit / (1.0 * rec_count)
        # 计算召回率
        recall = hit / (1.0 * test_count)
        # 计算覆盖率
        coverage = len(all_rec_items) / (1.0 * self.item_count)
        #计算流行度
        popularity = popular_sum / (1.0 * rec_count)

        print ('precision=%.4f\trecall=%.4f\tcoverage=%.4f\tpopularity=%.4f' %
               (precision, recall, coverage, popularity), file=sys.stderr)

In [ ]:
import sys
import random
import math
import os
from operator import itemgetter
from collections import defaultdict

random.seed(44)

class ItemBasedCF(object):
    ''' TopN recommendation - Item Based Collaborative Filtering '''

    def __init__(self):
        self.trainset = {}
        self.testset = {}

        self.n_sim_item = 100
        self.n_rec_item = 30

        self.item_sim_mat = {}
        self.item_popular = {}
        self.item_count = 0

        print('Similar item number = %d' % self.n_sim_item)
        print('Recommended item number = %d' % self.n_rec_item)

    def generate_dataset(self, train,test=None, pivot=0.7):
        ''' load rating data and split it to training set and test set '''
        trainset_len = 0
        testset_len = 0
        if test is None:# 随机分配验证机实验 
            print('算法尝试！')
            for line in train.iterrows():
                user, item, rating = line[1][0],line[1][1],1
                # split the data by pivot
                if random.random() < pivot:
                    self.trainset.setdefault(user, {})
                    self.trainset[user][item] = int(rating)
                    trainset_len += 1
                else:
                    self.testset.setdefault(user, {})
                    self.testset[user][item] = int(rating)
                    testset_len += 1
        else:#真正预测
            print('预测尝试！')
            for line in train.iterrows():
                user, item, rating = line[1][0],line[1][1],1
                # split the data by pivot
                self.trainset.setdefault(user, {})
                self.trainset[user][item] = int(rating)
                trainset_len += 1
            del user,item,rating
            for line in test.iterrows():
                user, item, rating = line[1][0],line[1][1],1
                self.testset.setdefault(user, {})
                self.testset[user][item] = int(rating)
                testset_len += 1
            
        print ('split training set and test set succ')
        print ('train set = %s' % trainset_len)
        print ('test set = %s' % testset_len)

    def calc_item_sim(self):
        ''' calculate item similarity matrix '''
        print('counting items number and popularity...')

        for user, items in self.trainset.items():
            for item in items:
                # count item popularity
                if item not in self.item_popular:
                    self.item_popular[item] = 0
                self.item_popular[item] += 1

        print('count items number and popularity succ')

        # save the total number of items
        self.item_count = len(self.item_popular)
        print('total item number = %d' % self.item_count)

        # count co-rated users between items
        itemsim_mat = self.item_sim_mat
        print('building co-rated users matrix...')

        for user, items in self.trainset.items():
            for m1 in items:
                itemsim_mat.setdefault(m1, defaultdict(int))
                for m2 in items:
                    if m1 == m2:
                        continue
                    itemsim_mat[m1][m2] += 1

        print('build co-rated users matrix succ')

        # calculate similarity matrix
        print('calculating item similarity matrix...')
        simfactor_count = 0
        PRINT_STEP = 2000000

        for m1, related_items in itemsim_mat.items():
            for m2, count in related_items.items():
                itemsim_mat[m1][m2] = count / math.sqrt(
                    self.item_popular[m1] * self.item_popular[m2])
                simfactor_count += 1
                if simfactor_count % PRINT_STEP == 0:
                    print('calculating item similarity factor(%d)' %
                          simfactor_count)

        print('calculate item similarity matrix(similarity factor) succ')
        print('Total similarity factor number = %d' % simfactor_count)

    def recommend(self, user,predict=False):
        ''' Find K similar items and recommend N items. '''
        K = self.n_sim_item
        N = self.n_rec_item
        rank = {}
        if not predict:
            watched_items = self.trainset[user]
        else:
            watched_items = self.testset[user]

        for item, rating in watched_items.items():
            if itemcf.item_sim_mat.get(item,None) is None:
                continue
            for related_item, similarity_factor in sorted(self.item_sim_mat[item].items(),
                                                           key=itemgetter(1), reverse=True)[:K]:
                if related_item in watched_items:
                    continue
                rank.setdefault(related_item, 0)
                rank[related_item] += similarity_factor * rating
        # return the N best items
        return sorted(rank.items(), key=itemgetter(1), reverse=True)[:N]

    def evaluate(self):
        ''' print evaluation result: precision, recall, coverage and popularity '''
        print('Evaluation start...')

        N = self.n_rec_item
        #  varables for precision and recall
        hit = 0
        rec_count = 0
        test_count = 0
        # varables for coverage
        all_rec_items = set()
        # varables for popularity
        popular_sum = 0

        for i, user in enumerate(self.trainset):
            if i % 500 == 0:
                print ('recommended for %d users' % i)
            test_items = self.testset.get(user, {})
            rec_items = self.recommend(user)
            for item, _ in rec_items:
                if item in test_items:
                    hit += 1
                all_rec_items.add(item)
                popular_sum += math.log(1 + self.item_popular[item])
            rec_count += N
            test_count += len(test_items)

        precision = hit / (1.0 * rec_count)
        recall = hit / (1.0 * test_count)
        coverage = len(all_rec_items) / (1.0 * self.item_count)
        popularity = popular_sum / (1.0 * rec_count)

        print ('precision=%.4f\trecall=%.4f\tcoverage=%.4f\tpopularity=%.4f' %
               (precision, recall, coverage, popularity))
    def predict(self):
        print('Predict start...')

        N = self.n_rec_item
        #  varables for precision and recall
        hit = 0
        rec_count = 0
        test_count = 0
        # varables for coverage
        all_rec_items = set()
        # varables for popularity
        popular_sum = 0
        predict_result=[]
        for i, user in enumerate(self.testset):
            if i % 500 == 0:
                print ('recommended for %d users' % i)
            rec_items = self.recommend(user,predict=True)
            predict_result.append((user,rec_items))
        print('Predict end...')
        return predict_result